<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3>Family History</h3>
        </div>
        <div class="card-body m-0 ">
          <form>
            <h4 class="d-flex">Family History</h4>
            <table class="table table-sm table-bordered w-auto">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Condition</th>
                  <th scope="col">Relationship</th>
                  <th scope="col">Age</th>
                  <th scope="col">More Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td class="p-0">
                    <select id="inputGroup" style="border: none; outline: none; ">
                      <option selected>Choose</option>
                      <option value="1">Alcohol or drug abuse</option>
                      <option value="2">Allergies</option>
                      <option value="3">Autoimmune disease</option>
                      <option value="4">Birth defects</option>
                      <option value="5">Blood disease</option>
                      <option value="6">Bone and joint diseases</option>
                      <option value="7">Cancer</option>
                      <option value="8">Hearing disorder</option>
                      <option value="9">Diabetes or insulin resistance</option>
                      <option value="10">Epilepsy</option>
                      <option value="11">Gastrointestinal disorder</option>
                      <option value="12">Glandular disorder</option>
                      <option value="13">Heart disease (including heart attack)</option>
                      <option value="14">High blood pressure</option>
                      <option value="15">High cholesterol</option>
                      <option value="16">Infertility or repeat pregnancy loss</option>
                      <option value="17">Intellectual disabilities</option>
                      <option value="18">Immunodeficiency disorder</option>
                      <option value="19">Kidney disease</option>
                      <option value="20">Lung disease</option>
                      <option value="21">Mental disorder (such as depression)</option>
                      <option value="22">Migraines</option>
                      <option value="23">Muscular disease</option>
                      <option value="24">Never disorder</option>
                      <option value="25">Ocular disease</option>
                      <option value="26">Skin disease</option>
                    </select>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="justify-content-around">
              <a class="btn btn-sm btn-success m-3 p-2" style="line-height:1;" href="#">Update</a>
              <button class="btn btn-sm btn-success m-0 p-2" style="line-height:1;">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>