<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Add Medical Record</h5>
        </div>
        <div class="card-body m-0 ">
          <ul class="nav nav-pills mb-3 d-flex justify-content-around" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile"
                [routerLink]="['/patient/viewpatientmedicalrecord/patientprofile/addmedicalrecord/bodyindex']"
                routerLinkActive="active">Body Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
                [routerLink]="['/patient/viewpatientmedicalrecord/patientprofile/addmedicalrecord/physicalexamhisory']"
                routerLinkActive="active">Physical Exam History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home"
                [routerLink]="['/patient/viewpatientmedicalrecord/patientprofile/addmedicalrecord/familyhisory']"
                routerLinkActive="active">Family History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile"
                [routerLink]="['/patient/viewpatientmedicalrecord/patientprofile/addmedicalrecord/medicalhistory']"
                routerLinkActive="active">Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
                [routerLink]="['/patient/viewpatientmedicalrecord/patientprofile/addmedicalrecord/vaccination']"
                routerLinkActive="active">Vaccination</a>
            </li>
          </ul>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>