<div class="menbersigninbg">
    <div class="container">

        <div class="row justify-content-center ">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <h4 class="mt-4 mb-2"><u>Appointment Summary</u></h4>
                    <div class="container m-3">
                        <div class="row ">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Appointment Date : </b></label>
                                        <span>Nov 15 2019</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Time : </b></label>
                                        <span>8:00 AM - 8:30 AM</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Patient ID : </b></label>
                                        <span>patient-1001</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Patient Name : </b></label>
                                        <span>patient one</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Doctor Name : </b></label>
                                        <span>doctor one</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Department / Division : </b></label>
                                        <span>dentist</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Visit Type : </b></label>
                                        <span>Online</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Reason for visit : </b></label>
                                        <span>root canal</span>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Other notes:</b></label>
                                        <span>take care on eating</span>
                                    </div>
                                </div>

                                <div class="m-2">
                                    <div class="d-flex justify-content-start">
                                        <label class="mr-1"><b>Status : </b></label>
                                        <span>Open</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>