<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Physical Exam History</h3>
                </div>
                <div class="card-body m-0 ">
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col">Normal Or Abnormal</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-4" style="text-align: start;">General Appearence</td>
                                    <td>
                                        <div style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Vital Signs</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Head</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">HEENT</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Neck</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Chest and Lungs</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Cardiovascular</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Abdomen</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Genitourinary</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Rectal</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Musculoskeletal</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Lymph Nodes</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Extremities / Skin</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Neurological</td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-4" style="text-align: start;">Other : </td>
                                    <td>
                                        <div class="" style="margin-left: 40px;">
                                            <div class="" style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Normal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Abnormal
                                                </label>
                                            </div>
                                            <div style="text-align: start;">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Not Examined
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="p-2"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="justify-content-around">
                            <a class="btn btn-sm btn-success m-3 p-2" style="line-height:1;" href="#">Update</a>
                            <button class="btn btn-sm btn-success m-0 p-2" style="line-height:1;">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>