* {
    font-family: "Muli reg", sans-serif !important;
}

.field-icon3 {
    float: right;
    margin-top: -26px;
    position: relative;
    z-index: 2;
}

.field-icon3:hover {
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 320px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 70%;
    }
    .tableData {
        font-size: 8px;
        padding: inherit;
    }
    .searchIcon {
        margin-left: 70px;
    }
    .field-icon3 {
        margin-left: 110px;
    }
    ::ng-deep .modal-content {
        margin-top: 20vh;
    }
}

@media only screen and (min-width: 375px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 70%;
    }
    .tableData {
        font-size: 8px;
        padding: inherit;
    }
    .searchIcon {
        margin-left: 70px;
    }
    .field-icon3 {
        margin-left: 145px;
    }
    ::ng-deep .modal-content {
        margin-top: 20vh;
    }
}

@media only screen and (min-width: 425px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 70%;
    }
    .tableData {
        font-size: 8px;
        padding: inherit;
    }
    .searchIcon {
        margin-left: 70px;
    }
    .field-icon3 {
        margin-left: 180px;
    }
    ::ng-deep .modal-content {
        margin-top: 20vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 65%;
    }
    .tableData {
        font-size: 10px;
        padding: inherit;
    }
    .searchIcon {
        margin-left: 80px;
    }
    .field-icon3 {
        margin-left: 310px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 60%;
    }
    .tableData {
        font-size: 12px;
    }
    .searchIcon {
        margin-left: 85px;
    }
    .field-icon3 {
        margin-left: 335px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 45%;
    }
    .tableData {
        font-size: 12px;
    }
    .searchIcon {
        margin-left: 145px;
    }
    .field-icon3 {
        margin-left: 340px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 35%;
    }
    .tableData {
        font-size: 12px;
    }
    .field-icon3 {
        margin-left: 355px;
    }
    ::ng-deep .modal-content {
        margin-top: 20vh;
    }
    ::ng-deep .modal.show .modal-dialog {
        width: 30%;
    }
}

@media only screen and (min-width: 1366px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 35%;
    }
    .tableData {
        font-size: 12px;
    }
    .field-icon3 {
        margin-left: 350px;
    }
    ::ng-deep .modal-content {
        margin-top: 20vh;
    }
    ::ng-deep .modal.show .modal-dialog {
        width: 30%;
    }
}

@media only screen and (min-width: 1440px) {
    .buttonWidth {
        width: 100%;
    }
    .bodyWidth {
        width: 35%;
    }
    .tableData {
        font-size: 12px;
    }
    .field-icon3 {
        margin-left: 380px;
    }
    ::ng-deep .modal-content {
        margin-top: 20vh;
    }
    ::ng-deep .modal.show .modal-dialog {
        width: 30%;
    }
}