::ng-deep .mat-tab-label-container{
    padding-bottom: 10px;
}

.custom-borders{
    border:1px solid #d8d6d6 !important;
    border-radius: 5px; 
     font-size: 12px;
     width: 100%;
     padding: 5px;
}

.custom-input-borders{
    width: -webkit-fill-available !important;
    border: none !important;
    padding: 5px 0px 7px 15px !important;
}
.handCursor:hover {
    cursor: pointer;
}
.mat-tab-body-content{
    overflow-x: hidden;
}
.scroll {
    height: 30vh !important;
    overflow: auto;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 2px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F7F7F7;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #53B9C6;
}