<div>
    <h3 class="text-center shadow p-3" >Medical Records Info</h3>
    <div style="display: flex;" class="p-3">
        <div class="card shadow" style="width: 20rem;">
            <div class="card-body">
              <p class=""><b>Medical Record ID : </b><span>MRIDUO7DpE</span></p>
              <p class=""><b>Modified Date : </b><span>1577785766907</span></p>
              <p class=""><b>Created Date : </b><span>1577785766907</span></p>
            </div>
          </div>
    </div>

</div>