<!-- Footer -->
<footer class="footer-nav pt-3 footerbg p-0">

  <!-- Footer Links -->
  <div class="container p-0">

    <!-- Grid row -->
    <div class="row d-flex p-0">
      <!-- Grid column -->
      <div class="col-md-2 col-sm-4  footercontent">

      </div>
      <!-- Grid column -->
      <div class="col-md-8 col-sm-4  text-center  align-self-center footercontent p-0">

        <!-- Content -->
        <h5 class="text-white pb-3" style="letter-spacing: 0.1rem;">SpectroCare</h5>
        <div class="d-flex">
          <div class="col-md-4">
            <p>
              <img src="../../../assets/images/footer-icons/Icon awesome-phone-alt.png" style="width: 15px;" class="m-1">  
              (03)522-0892
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <img src="../../../assets/images/footer-icons/Icon ionic-ios-mail.png" style="width: 15px;" class="m-1">
              Service@spectrocare.com
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <img src="../../../assets/images/footer-icons/Icon material-location-on.png" style="width: 15px;" class="m-1">
              No.951 Fuxing Road,Zhubei City,Hsinchu Country
            </p>
          </div>
        </div>
        <span>
          <img src="../../../assets/images/footer-icons/facebook-logo-button.png" width="25px">&nbsp;
          <img src="../../../assets/images/footer-icons/linkedin-button.png" width="25px">&nbsp;
          <img src="../../../assets/images/footer-icons/twitter-logo-button.png" width="25px">&nbsp;
          <img src="../../../assets/images/footer-icons/github-logo.png" width="25px">
        </span>
        <p class="copy pt-3">copyright@2020 SpectroChip Inc. All rights reserved.</p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
 
</footer>
