
/******FOOTER***********/
*{
    font-family: Poppins-Regular;
}
.footerbg{
    background: linear-gradient(to right,#60348a,#5c48b2,#5768f0);
    position: relative;
    color: #F7F7F7;
    background-size: cover;
}
.footertext{
    color: #fec91d;
}
@media only screen and (max-width : 768px){
    .footerbg{
        position: static;
    }
    div ul li{
        font-size: 13px;
    }
    h5{
        font-size: 18px;
    }
    div span{
        font-size: 13px;
    }
    .footercontent{
        position: static;
    }
}

/* ul li a{
    color: white;
    padding: 10px;
    margin: 0;
}
ul li a:hover{
    color:darkorange;
  }   */

