
<!-- Footer -->
<footer class="footer-nav  pt-4 footerbg">

        <!-- Footer Links -->
        <div class="container">
    
          <!-- Grid row -->
          <div class="row d-flex">
             <!-- Grid column -->
             <div class="col-md-2 col-sm-2  footercontent">
    
              <!-- Links -->
              <ul class="list-unstyled text-center">
                      <li class="footertext">
                          <a class="nav-link text-nowrap">Quick Links</a>
                      </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-white">Products</a>
                </li>
                <li class="nav-item">
                      <a href="#" class="nav-link text-white">Pricing</a>
                    </li>
                    <li class="nav-item">
                          <a href="#" class="nav-link text-white">Customers</a>
                        </li>
                        <li class="nav-item">
                              <a href="#" class="nav-link text-white">AboutUs</a>
                            </li>  
              </ul>
    
            </div>
            <!-- Grid column -->
            <div class="col-md-4 col-sm-4 mt-md-0 text-center mt-3 align-self-center footercontent">
    
              <!-- Content -->
              <h5 class="text-white headerfont">Spectrocare</h5>
              <span>
                  <img src="assets/images/twitter-black-shape.png" width="25px">&nbsp;
                  <img src="assets/images/facebook-letter-logo.png" width="25px">&nbsp;
                  <!-- <img src="assets/github-logo.png" width="25px">&nbsp; -->
                  <img src="assets/images/google-plus-logo.png" width="25px">
                </span>
            </div>
          </div>
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <!-- <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="#">SpectroChips.com</a>
        </div> -->
      </footer>
      <!-- Footer -->

<!-- 
<div class="container-fluid bg-danger ">
    <div class="row ">
        <div class="col-md-12">
            <div class="d-flex">
            <div class="col-md-4 text-center mt-5">
                <span class="text-uppercase text-white font-weight-bold ml-5">Spectrocare</span>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <img src="assets/images/120.png"
                     class="m-2 p-0 " style="border-radius: 50%;">
            </div>
            <div class="col-md-4 mt-5">
                    <p style="text-align: center;">
                            <a href="https://www.google.com/" style="text-decoration: none;">
                                <img style="width: 25px;margin-right: 5px;"
                                src="assets/images/twitter-black-shape.png">
                            </a>
                            <a href="https://www.google.com/" style="text-decoration: none;">
                                <img style="width: 25px;margin-right: 5px;"
                                src="assets/images/facebook-letter-logo.png">
                            </a>
                            <a href="https://www.google.com/" style="text-decoration: none;">
                                <img style="width: 25px;"
                                src="assets/images/google-plus-logo.png">
                            </a>                                
                    </p>
            </div>
        </div>
        </div>
    </div>
</div> -->
