<div class="termsbg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card mt-5 text-center">
                    <div>
                        <h5 class="logo-text ">
                            <!--style="letter-spacing: 3px;"-->
                            Spectro<span class="logo-highlight">Care</span>
                        </h5>
                        <p>Terms & Conditions</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>