<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 p-0">

            <app-header [titleData]="titleArray"></app-header>

            <div class="container p-3">
                <div class="d-flex p-0">
                    <div class="col-md-9 p-0">
                        <div class="">
                            <div class="d-flex p-0 mb-2">
                                <div class="clsone col-md-4">
                                    <div class="card " style="height: 25vh;">
                                        <div class="card-body">
                                            <div style="display: block; margin: -15px;">
                                                <canvas baseChart width="100%" height="70px" [datasets]="barChartData"
                                                    [labels]="barChartLabels" [options]="barChartOptions"
                                                    [plugins]="barChartPlugins" [legend]="barChartLegend"
                                                    [chartType]="barChartType">
                                                </canvas>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="clstwo col-md-4">
                                    <div class="card " style="height: 25vh;">
                                        <div class="card-body">

                                            <div style="display: block;margin: -15px;">
                                                <canvas baseChart width="100%" height="70px" [datasets]="lineChartData"
                                                    [labels]="lineChartLabels" [options]="lineChartOptions"
                                                    [colors]="lineChartColors" [legend]="lineChartLegend"
                                                    [chartType]="lineChartType" [plugins]="lineChartPlugins">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clsthree col-md-4">
                                    <div class="card " style="height: 25vh;">
                                        <div class="card-body">

                                            <div style="display: block;margin: -15px;">
                                                <canvas baseChart width="100%" height="70px"
                                                    [datasets]="lineChartDataTwo" [labels]="lineChartLabelsTwo"
                                                    [options]="lineChartOptionsTwo" [colors]="lineChartColorsTwo"
                                                    [legend]="lineChartLegendTwo" [chartType]="lineChartTypeTwo"
                                                    [plugins]="lineChartPluginsTwo">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card " style="height: 75vh;">
                                    <div class="card-body">
                                        <div style="display: block;margin: -15px;">
                                            <h5>Total Progress</h5>
                                            <span>Showing status from the last year</span>
                                            <canvas baseChart width="100%" height="55px" [datasets]="lineChartDataFour"
                                                [labels]="lineChartLabelsFour" [options]="lineChartOptionsFour"
                                                [colors]="lineChartColorsFour" [legend]="lineChartLegendFour"
                                                [chartType]="lineChartTypeFour" [plugins]="lineChartPluginsFour">
                                            </canvas>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 p-0">
                        <div class="card mb-3 " style="height: 30vh;">
                            <div class="card-body">
                                <div style="display: block;">
                                    <canvas baseChart width="100%" height="60px" [datasets]="lineChartDataThree"
                                        [labels]="lineChartLabelsThree" [options]="lineChartOptionsThree"
                                        [colors]="lineChartColorsThree" [legend]="lineChartLegendThree"
                                        [chartType]="lineChartTypeThree" [plugins]="lineChartPluginsThree">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="height: 21vh;">
                            <div class="card-body">
                                <div class="chart-wrapper">
                                    <div style="display: block;">
                                        <canvas baseChart width="100%" height="50px" [data]="doughnutChartData"
                                            [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                        </canvas>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card mb-3" style="height: 21vh;">
                            <div class="card-body">
                                <div style="display: block;">
                                    <canvas baseChart width="100%" height="50px" [data]="doughnutChartDataTwo"
                                        [labels]="doughnutChartLabelsTwo" [chartType]="doughnutChartTypeTwo">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card " style="height: 21vh;">
                            <div class="card-body">
                                <div style="display: block;">
                                    <canvas baseChart width="100%" height="50px" [data]="doughnutChartDataThree"
                                        [labels]="doughnutChartLabelsThree" [chartType]="doughnutChartTypeThree">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>