<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-0 p-0">
                <div class="">
                    <div class=" text-center p-0 m-0">
                        <!-- <h4>Patient Details</h4> -->
                        <h3 class="text-center shadow p-3 mb-3">Patient Details</h3>
                    </div>
                    <div class="">

                        <form [formGroup]="patientProfileForm" (ngSubmit)="updatePatientInfo()">
                            <div class="container">
                                <div class="row">
                                    <div
                                        class="form-group container justify-content-around p-0 m-0 mb-3">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <img style="border-radius: 50%; max-height: 100px;"
                                                    width="100px" height="100px" class="img-fluid p-0"
                                                    src="{{previewImg}}">
                                            </div>
                                            <!--Upload IMG-->
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-4">
                                                        <div class="img-move input-group mb-3 mt-3">
                                                            <input type="file" class="form-control"
                                                                name="file" id="inputGroupFile01" #fileInput
                                                                aria-describedby="inputGroupFileAddon01"
                                                                accept=".png, .jpg, .jpeg"
                                                                (change)="fileProgress($event)"
                                                                class="d-none">
                                                            <button class="btn m-auto btn-sm btn-primary font-weight-bold"
                                                                (click)="fileInput.click()"
                                                                type="button">Choose image</button>
                                                        </div>
                                                    </div>
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="container">
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="patientID">Patient
                                                                ID</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light border-danger"
                                                                formControlName="patientID" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="hospital_reg_num">Hospital
                                                                Reg
                                                                No</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light border-danger"
                                                                formControlName="hospital_reg_num"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="emailId">Email ID</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="emailID">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="lastname">Last Name</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="lastName">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="firstname">First
                                                                Name</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="firstName">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="gender">Gender</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="gender">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="age">Age</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="age">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="container">
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label
                                                                for="medical_personnel_id">MedicalRecordID</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light border-danger"
                                                                formControlName="medical_record_id"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label
                                                                for="medical_personnel_id">MedicalPersonnelID</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input 
                                                                class="form-control bg-light border-danger"
                                                                formControlName="medical_personnel_id"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row justify-content-around m-0 p-0"
                                                >
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="phoneNumber">Phone
                                                                Number</label>
                                                        </div>
                                                        <div class="input-group col-md-7 p-0">
                                                            <div class="input-group-prepend ">
                                                                <!-- <input type="text" class="form-control"
                                                                    formControlName="phoneNumberCountryCode"> -->
                                                                    <select class="form-control bg-light" formControlName="countryCode">
                                                                        <option>+91</option>
                                                                        <option>+880</option>
                                                                        <option>+886</option>
                                                                        <option>+81</option>
                                                                        <option>+61</option>
                                                                        <option>0</option>
                                                                        <option>91</option>
                                                                      </select>
                                                            </div>
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="phoneNumber">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--Get Current Location-->
                                            <!-- <div class="container m-0 mb-2">
                                                <div class="row">                                                   
                                                    <div class="col-md-12">
                                                        <a class="font-weight-bold"
                                                            style="color:dodgerblue;"
                                                            (click)="getCurrentLocation()">Use
                                                            Current Location</a>
                                                    </div>                                               
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="latitude">Latitude</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="latitude">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="longitude">Longitude</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="longitude">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="address">Address</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="address">
                                                                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="state">State</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="state">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="postalCode">Postal
                                                                Code</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="postalCode">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-around m-0 p-0">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-5" style="line-height: 2;">
                                                            <label for="country">Country</label>
                                                        </div>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text"
                                                                class="form-control bg-light"
                                                                formControlName="country">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="mx-5">
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>