label{
    font-weight: bold;
}

input,textarea,select{
    border-radius: 6px;
    /* border: none !important; */
    /* background-color: white !important; */
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3);
}