.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(68, 65, 65);
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(62, 69, 76);
  color: white;
  border-left: 5px solid #53b8c5;
  /* background-color: #e0dede; */
}

.btn-clr{
  background-color: #f66 !important; 
  border: none !important;
  outline: none !important;
  padding: 8px 25px !important;
  }
/* .dropdown-content a:hover {background-color: #928989;} */
.dropdown:hover .dropdown-content {display: block;}

 
.change-icon-color li .white{
  display: none;
}

.change-icon-color li:hover .white{
  display: inline ;

}

.change-icon-color li:hover .black{
  display: none;
}

.stylebtn:hover{
  background-color: rgb(62, 69, 76);
  color: white;
  border-left: 5px solid #53b8c5;
}

.mat-menu-item:hover{
  background-color:grey;
  color: white;
  border-left: 5px solid #53b8c5;
}
.mat-menu-item:hover .mat-icon{
  color: white;
}

::ng-deep .mat-menu-content:not(:empty) {
   padding-top: 0px !important; 
   padding-bottom: 0px !important; 
}

button{
  outline: none;
}

.blackLogout:hover{
  content: url("../../../assets/images/ui/Icons/1x/White-Icon-open-account-logout.png");
}