<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>General Information</h3>
                </div>
                <div class="card-body m-0 ">
                    <form>
                        <div>
                            <div class="form-group p-0 m-0">
                                <div class="container  p-0 m-0">
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputPatientID" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Patient ID</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputMedicalRecordID" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Medical Record ID</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputLastName" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Last Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputFirstName" class="font-weight-bold d-flex"
                                                style="line-height: 2;">First Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputGender" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Gender</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputDOB" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Date Of Birth</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputAge" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Age</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputPhoneNumber" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Phone Number</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputAddress" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Address</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputCity" class="font-weight-bold d-flex"
                                                style="line-height: 2;">City</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputState" class="font-weight-bold d-flex"
                                                style="line-height: 2;">State</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputPostCode" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Postcode</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputCountry" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Country</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputDateOfLastUpdate" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Date Of Last Update</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-around">
                            <a class="btn btn-sm btn-success m-3 p-2" style="line-height:1;" href="#">Update</a>
                            <button class="btn btn-sm btn-success m-0 p-2" style="line-height:1;"
                                [routerLink]="['/patient/viewpatientmedicalrecord/patientprofile/addmedicalrecord']"
                                routerLinkActive="active">Add Medical Record</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>