<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container-fluid pb-5" style="background-color: #F8FCFD;">
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <div class="calender-show pl-3 " style="background-color: #F8FCFD; justify-content: flex-end; ">
            <input placeholder="2020-03-13" [value]="dateToShow" class=" pl-3" ngbDatepicker #d="ngbDatepicker" readonly>
            <div class="calenderLogo" style="margin-top: -30px;
            margin-left: 190px;">
                <button style="outline-style: none;" class="p-0 btn  calendar" (click)="d.toggle()" type="button">
                    <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

  <div class="row p-4 w-25" style="background-color: #F8FCFD;">
    <div class="form-control" style="background-color: #53b8c5; color: white !important;">
      <mat-select (selectionChange)="showData($event.value)" [value]="selected" style="color: white;">
        <mat-option *ngFor="let letSearch of searchByValue" [value]="letSearch.viewValue">
          {{letSearch.viewValue}}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="row" style="padding-left: 35px;">
    <div class="row bg-white px-2 py-2 pr-4 w-100 justify-content-between">
      <span class="tableHead justify-content-center" id="modal-basic-title" style="font-weight: 600;">Appointment
        Record</span>
      <mat-icon class="handCursor">add_circle</mat-icon>
    </div>
    <div class="row scroll w-100">
      <table class="table text-center table-sm">
        <thead class="thead-dark ">
          <tr class="medium" style="font-weight: normal;">
            <th scope="col" class="border text-center" style="font-size: 14px;">No</th>
            <th scope="col" class="border  text-center" style="font-size: 14px;">Date/Time</th>
            <th scope="col" class="border text-center" style="font-size: 14px;">Type</th>
            <th scope="col" class="border text-center" style="font-size: 14px;">Reason For Visit</th>
            <th scope="col" class="border  text-center" style="font-size: 14px;">Doctor</th>
            <th scope="col" class="border text-center" style="font-size: 14px;">Status</th>
            <th scope="col" class="border  text-center" style="font-size: 14px;">Action</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngIf="!(patientAppointmentsData && patientAppointmentsData.length)" style="text-align: center;">
            <td style="text-align: center;font-size: 12px;font-weight: 600;" colspan="7">Don't have Appointments
            </td>
          </tr>
          <tr class=" shadow small " style="" *ngFor="let selectedInvoicesData of patientAppointmentsData ; let i = index">
            <td scope="row" class="text-center" style="padding: 10px;">{{i+1}}</td>
            <td class="tdData" style="padding-left: 34px;padding: 10px;">{{selectedInvoicesData.appointmentDate}}</td>
            <td class="tdData" style="padding-left: 18px;padding: 10px;">{{selectedInvoicesData.visitType}}</td>
            <td class="tdData" style="padding-left: 38px;padding: 10px;">{{selectedInvoicesData.reasonForVisit}}</td>
            <td class="tdData" style="padding-left: 55px;padding: 10px;">{{selectedInvoicesData.doctorName}}</td>
            <td class="tdData" style="padding-left: 55px;padding: 10px;">{{selectedInvoicesData.appointmentStatus}}</td>
            <td class="menu text-center text-info" style="padding: 10px; overflow: hidden; padding-top: 5px;">
              <button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu" style="color: #53b8c5;background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <mat-menu #menu="matMenu" class="menudata" #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item class="menuItembtn" style="outline: none !important;"
                  (click)="openViewMethod(viewModel)">
                  <span>View Details</span>
                </button>

                <ng-template #viewModel let-modal>
                  <div class="modal-header" style="background-color: #53B9C6;color: white;">
                    <h5 class="modal-title justify-content-center" id="modal-basic-title">Appointment Summary</h5>
                    <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel</mat-icon>
                  </div>
                  <div class="modal-body scroll1">
                    <div class="row px-3">
                      <div class="col-8">
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Appointment
                                Date : </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span
                                style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.appointmentDate}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Appointment
                                Time : </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span
                                style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.appointmentTimeFrom}}-{{selectedInvoicesData.appointmentTimeTo}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Patient ID :
                              </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.patientID}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Patient Name :
                              </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span
                                style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.patientName}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Doctor Name :
                              </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.doctorName}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Department :
                              </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.department}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Visit Type :
                              </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.visitType}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Reason For
                                Visit : </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span
                                style="font-weight: 600;font-size: 12px;">{{selectedInvoicesData.reasonForVisit}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <label style="font-weight: 600;font-size: 12px;color: rgb(165, 163, 163);">Notes :
                              </label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <span style="font-weight: 600;font-size: 12px;">------------</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                      </div>
                    </div>
                    <div class="pt-2">
                      <fieldset class="border " style="width: inherit;padding: 0 10px 10px 10px;">
                        <legend style="font-size: 12px;font-weight: 600;" class="w-auto p-2">Major Complaints/Injury/Illness</legend>
                        <textarea class="form-control border-0" rows="2" style="font-size: 12px;outline-style: none;"></textarea>
                      </fieldset>
                    </div>
                    <div class="pt-2">
                      <fieldset class="border " style="width: inherit;padding: 0 10px 10px 10px;">
                        <legend style="font-size: 12px;font-weight: 600;" class="w-auto p-2">Diagnosis/Comments</legend>
                        <textarea class="form-control border-0" rows="2" style="font-size: 12px;outline-style: none;"></textarea>
                      </fieldset>
                    </div>
                    <div class="pt-2">
                      <fieldset class="border " style="width: inherit;padding: 0 10px 10px 10px;">
                        <legend style="font-size: 12px;font-weight: 600;" class="w-auto p-2">Treatment</legend>
                        <textarea class="form-control border-0" rows="2" style="font-size: 12px;outline-style: none;"></textarea>
                      </fieldset>
                    </div>
                    <div class="pt-2">
                      <fieldset class="border " style="width: inherit;padding: 0 10px 10px 10px;">
                        <legend style="font-size: 12px;font-weight: 600;" class="w-auto p-2">Medication</legend>
                        <textarea class="form-control border-0" rows="2" style="font-size: 12px;outline-style: none;"></textarea>
                      </fieldset>
                    </div>

                    
                    <fieldset class="border " style="width: inherit;padding: 0 10px 10px 10px;">
                      <legend style="font-size: 12px;font-weight: 600;" class="w-auto p-2">File / Document</legend>
                      <div class="border-0 p-3">
                        <div *ngIf="!selectedInvoicesData.attachment">
  
                        </div>
                        <div class="row justify-content-around" *ngIf="selectedInvoicesData.attachment">
                          <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon awesome-file-alt.png"
                            class="mr-1">
                          <span style="font-size: 12px; font-weight: 400;">
                            {{selectedInvoicesData.attachment.split('/')[3]}}
                          </span>
                          <a href="http://3.92.226.247:3000{{selectedInvoicesData.attachment}}">
                            <img class="handCursor" width="13px"
                              src="../../../assets/images/ui/Icons/patient-medical-module/Icon feather-download.png">
                          </a>
                        </div>
                      </div></fieldset>
                    
                  </div>
                  <div class="modal-footer justify-content-center">
                    <button class="btn btn-sm"
                      style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;height: 30px;"
                      (click)="modal.close('Close click')">Close
                    </button>
                  </div>
                </ng-template>

              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>