.container-fluid {
    font-family: 'Muli', sans-serif;
    background-image: url(/assets/images/ui/Icons/1x/Background_1.png);
    background-size: cover;
  }
  
  ::ng-deep .mat-form-field-label {
    /* color: white !important; */
    color: rgba(250, 250, 250, 0.5) !important;
  }
  
  ::ng-deep .mat-form-field-underline {
    background-color: rgba(250, 250, 250, 0.5) !important;
  }
  
  input, span {
    color: white !important;
  }
  
  ::ng-deep .mat-select-value {
    color: white;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container>* {
    width: 100%;
  }
  
  .mat-form-field, .loginbtn {
    width: 70% !important;
  }
  
  .loginbtn {
    border-radius: 50px;
    height: 40px;
    font-weight: bold;
    border-style: none;
    background-color: #53B9C6;
    color: white;
  }
  
  .field-icon1 {
    color: white;
    float: right;
    margin-left: -25px;
    margin-top: 0px;
    position: relative;
    z-index: 2;
  }
  
  .dot {
    font-size: x-small;
  }
  
  a {
    color: #53B9C6 !important;
  }
  
  .example-full-width {
    width: 100% !important;
  }
  
  table{
    width: 72% !important;
  }
  
  .ctrcode {
    width: 30%;
  }
  
  .phno {
    width: 70%;
  }
  
  td {
    padding-right: 8px;
  }
  
  ::ng-deep .mat-checkbox .mat-checkbox-inner-container {
    background-color: wheat !important;
  }
  
  .span:after {
    content: "------------------------------------------";
    color: rgb(139, 125, 125);
    letter-spacing: 6px !important;
    width: 100% !important;
  }
  
  ::ng-deep .mat-select-arrow {
    color: rgb(139, 125, 125);
  }

  .logo-text {
    margin-left: 80px ;
    font-size: x-large;
    font-weight: 500;
    color: white;
  }
  
  .logo-highlight {
    color:  #53B9C6 !important;
  }
  
  button{
    color: rgba(250, 250, 250, 0.5) !important;
  }
  button:hover{
    border: 1px solid white !important;
  }
  .active{
    border: 1px solid white !important;
    color: white !important;
    box-shadow: 0 0 5px rgb(44, 41, 41);
  }
  
  