<div class="container-fluid">
    <div class="row " style="padding: 100px;padding-top: 170px;">
        <!--margin-top: 120px;-->

        <div class="col-md-4 align-self-center"></div>
        <div class="col-md-4 align-self-center">

            <h4 class=" text-center text-white p-2">Forgot Password</h4>
            <div class="example-container">
                <form [formGroup]="adminForgotForm" (ngSubmit)="submitForm()" autocomplete="off">
                    <mat-form-field>
                        <input matInput placeholder="User ID / Email" formControlName="userID">
                        <mat-error *ngIf="adminForgotForm.get('userID').hasError('required')">
                            User ID / Email is required.
                        </mat-error>

                    </mat-form-field>
                    <div *ngIf="isLoading" style="display: flex; justify-content: center;">
                        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                            [diameter]="30">
                        </mat-progress-spinner>
                    </div>
                    <button class="loginbtn btn mb-3 mt-3" style="letter-spacing: 1px; outline-style: none;"
                        [disabled]="!adminForgotForm.valid" *ngIf="!isLoading">Submit</button>

                    <div class="row  p-2 ml-5">
                        <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                        <span style="font-weight: 500;color: white;font-size: 14px;">
                            Don't have an account yet? &nbsp;
                        </span>
                        <a (click)="signUp()"
                            style="font-size: 14px; font-weight: bold;color: #12b2f9;cursor: pointer;"> Sign Up</a>

                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-4 align-self-center"></div>

    </div>
</div>

<ng-template #viewSuccessContent let-modal>
    <div class="modal-header p-2  justify-content-end"
        style="background-color:white; color: mintcream;border-bottom: transparent;">
        <div class="matIcon pr-3">
            <mat-icon (click)="modal.dismiss('Cross click')" style="cursor: pointer;"><img
                    src="../../../assets/images/ui/Icons/1x/cancel.png"></mat-icon>
        </div>
    </div>
    <div class="modal-body">
        <div class=" " style="text-align: center;padding: 17px 0px 17px 0;">
            <img src="../../../assets/images/ui/Icons/1x/adminmessge.png" style="width: 25%;padding-bottom: 17px;"><br>
            <div style="font-size: 14px;font-weight: 600;">{{viewSuccessContent1}}</div><br>
            <div style="font-size: 14px;font-weight: 600;">{{viewSuccessContent2}}</div><br>
            <!-- <span style="font-size: 12px;font-weight: 500;">{{viewSuccessContent2}}</span> -->
            <a href="https://mail.google.com/mail/u/0/#inbox" target="blank" (click)="modal.dismiss('Cross click')"
                style="text-decoration: none;border-style: none;">
                <button class="btn1" style="width: 213px;
                                            height: 38px;text-align: center; 
                                            background-color: rgb(146, 202, 228); 
                                            border: none; margin-bottom: 10px;border-radius: 15px;border-style: none;
                                            opacity: 100%; white-space: nowrap; width: 50%;
                                            outline-style: none;box-shadow: 0pt 2pt 5pt;">
                    <!--box-shadow: 0pt 10pt 20pt;-->
                    <b class="line3" style="font-size: 14px;  font-weight: 500;
                        font-family: sans-serif;color: white;opacity: 100%;
                        border-style: none;">
                        Check Now
                    </b>
                    <!--Montserrat-->
                </button>
                <!---->
            </a>
        </div>
    </div>
</ng-template>
<ng-template #viewFailureContent let-modal>
    <div class="modal-header p-2  justify-content-end"
        style="background-color:white; color: mintcream;border-bottom: transparent;">
        <div class="matIcon pr-3">
            <mat-icon (click)="modal.dismiss('Cross click')" style="cursor: pointer;"><img
                    src="../../../assets/images/ui/Icons/1x/cancel.png"></mat-icon>
        </div>
    </div>
    <div class="modal-body">
        <div class="" style="text-align: center;padding: 17px 0px 17px 0;">
            <img src="../../../assets/images/ui/Icons/1x/adminfail.png" style="width: 25%;padding-bottom: 17px;"><br>
            <div style="font-size: 14px;font-weight: 600;">{{viewFailureContent1}}</div><br>
            <!-- <div style="font-size: 12px;font-weight: 500;">{{failureResponse}}</div><br> -->
            <!-- <span style="font-size: 12px;font-weight: 500;">{{viewFailureContent2}}</span> -->
        </div>
    </div>
</ng-template>