<div class="container-fluid">
    <header class="w-100 p-3 ">
        <nav class="navbar navbar-expand-lg navbar-light d-flex w-100 p-0 ">
            <!-- <h1 class="navbar-brand text-white  ml-5">SpectroCare</h1> -->

            <h1 class="logo-text ">
                <!--style="letter-spacing: 3px;"-->
                Spectro<span class="logo-highlight">Care</span>
            </h1>
            <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNavDropdown">
                <ul class="navbar-nav p-0">
                    <li class="nav-item p-0 mx-1">
                        <button class="btn btn-sm text-white text-uppercase " [routerLink]="['/administrator']"
                            routerLinkActive="active">
                            Administrator
                        </button>
                    </li>
                    <li class="nav-item p-0 mx-1">
                        <button class="btn btn-sm text-white text-uppercase" [routerLink]="['/medicalpersonnel']"
                            routerLinkActive="active">Medical Personnel</button>
                    </li>
                    <li class="nav-item p-0 mx-1">
                        <button class="btn btn-sm text-white text-uppercase" [routerLink]="['/patientmodule']"
                            routerLinkActive="active">Patient</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="row " style="margin-top: 120px;">

        <div class="col-md-4 align-self-center"></div>
        <div class="col-md-4 align-self-center">

            <h4 class=" text-center text-white p-2">Forgot Password</h4>

            <form [formGroup]="adminForgotForm" (ngSubmit)="submitForm()" autocomplete="off">
                <mat-form-field>
                    <input matInput placeholder="User ID / Email" formControlName="userID">
                    <mat-error *ngIf="adminForgotForm.get('userID').hasError('required')">
                        User ID / Email is required.
                    </mat-error>

                </mat-form-field>

                <button class="loginbtn btn mb-3 mt-3" style="letter-spacing: 1px; outline-style: none;"
                    [disabled]="!adminForgotForm.valid">Submit</button>

                <div class="row  p-2 ml-5">
                    <span (click)="signUp()"> <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                        Don't have an account yet? <a class="nextPage"> Sign Up</a></span>
                </div>
            </form>

        </div>
        <div class="col-md-4 align-self-center"></div>

    </div>
</div>