<div class="container-fluid">
    <header class="w-100 p-3 ">
        <nav class="navbar navbar-expand-lg navbar-light d-flex w-100 p-0 ">
          <!-- <h1 class="navbar-brand text-white  ml-5">SpectroCare</h1> -->
          
          <h1 class="logo-text " ><!--style="letter-spacing: 3px;"-->
            Spectro<span class="logo-highlight">Care</span>
          </h1>
          <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNavDropdown">
            <ul class="navbar-nav p-0">
              <li class="nav-item p-0 mx-1">
                <button  class="btn btn-sm text-white text-uppercase "  [routerLink]="['/administrator']" routerLinkActive="active">
                Administrator
                </button>
              </li>
              <li class="nav-item p-0 mx-1">
                <button class="btn btn-sm text-white text-uppercase"  [routerLink]="['/medicalpersonnel']" routerLinkActive="active">Medical Personnel</button>
              </li>
              <li class="nav-item p-0 mx-1">
                <button class="btn btn-sm text-white text-uppercase"  [routerLink]="['/patientmodule']" routerLinkActive="active">Patient</button>
              </li>          
            </ul>
          </div>
        </nav>
      </header>
    <div class="row " style="margin-top: 120px;">
          
        <div class="col-md-4 align-self-center"></div>
        <div class="col-md-4 align-self-center">
            
            <h4 class=" text-center text-white p-2">Forgot Password</h4>

                    <form [formGroup]="adminForgotForm" (ngSubmit)="submitForm()">
                        <mat-form-field>
                            <input matInput placeholder="Email / User Name" formControlName="userID">
                            <mat-error *ngIf="adminForgotForm.get('userID').hasError('required')">
                                Email / UserName is Required!
                            </mat-error>
                            <mat-error *ngIf="adminForgotForm.get('userID').hasError('minlength')">
                                Email / UserName should be atleast 4 characters long!
                            </mat-error>

                            <mat-error *ngIf="adminForgotForm.get('userID').hasError('maxlength')">
                                Email / UserName can be atmax n characters long!
                            </mat-error>

                            <mat-error *ngIf="adminForgotForm.get('userID').hasError('pattern')">
                                Email / UserName must follow this pattern! (a-z,A-Z)
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button class="loginbtn mb-3 mt-3"
                            style="letter-spacing: 1px; outline-style: none;">Submit</button>
                       
                        <div class="row  p-2 ml-5">
                            <span (click)="signUp()"> <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                                Don't have an account yet? <a> Sign Up</a></span>
                        </div>
                    </form>
               
            </div>
            <div class="col-md-4 align-self-center"></div>
       
        </div>
    </div>


    <!-- <div class="forgotbg">
    <div class="container">
        <div class="">
            <div class="mb-3">
                <h3 class="p-3 text-white">Welcome to SpectroCare</h3>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card">
                        <h4 class="mt-4 mb-4">Forgot Password</h4>
                        <div class="container">
                            <div class="row ">
                                <div class="col-md-2">
                                </div>
                                <div class="col-sm-8">
                                    <div class="d-inline d-flex justify-content-around">
                                        <button [ngClass]="{'btn-primary text-white':isAdministrator === true}"
                                            class="btn btn-sm  btn-outline-dark shadow text-uppercase"
                                            (click)="callAdministrator()">Administrator</button>
                                        <button class="text-nowrap btn btn-sm btn-outline-dark shadow text-uppercase"
                                            (click)="callMedicalPersonnel()"
                                            [ngClass]="{'btn-primary text-white':isAdministrator === false}">medical
                                            personnel</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf="isAdministrator">
                            <div class="row ml-5 mr-5 mt-4">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8 ">
                                    <form [formGroup]="adminForgotForm" (ngSubmit)="submitForm()">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="font-weight-bold">Email / UserID</label>
                                            <input type="email" class="form-control bg-light" formControlName="userID">
                                            <p *ngIf="adminForgotForm.controls['userID'].errors?.touched && adminForgotForm.controls['userID'].errors?.required"
                                                class="text-danger">Enter your email / UserID</p>
                                           
                                        </div>
                                        <div class="form-group justify-content-between">
                                            <button class="btn btn-sm btn-success px-2 shadow"
                                                [disabled]="adminForgotForm.invalid">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf="!isAdministrator">
                            <div class="row ml-5 mr-5 mt-4">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8 ">
                                    <form [formGroup]="medicalForgotForm" (ngSubmit)="medicalSubmit()">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="font-weight-bold">Email / UserID</label>
                                            <input type="email" class="form-control bg-light" formControlName="email"
                                                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                        </div>
                                        <div class="form-group justify-content-between">
                                            <button class="btn btn-sm btn-success px-2 shadow" [routerLink]="['/home']"
                                                [disabled]="medicalForgotForm.invalid">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                        <div class="after-buttons mb-5">
                            <h6 class="text-center mt-3">Don't have account yet ?
                                <a class="text-info" (click)="signUp()">Sign Up.</a>here.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div> -->