* {
    font-family: "Muli reg", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}

.sidehigh {
    position: relative;
    background-color: #2c3136;
}

.sideButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.active {
    background-color: #3e454c;
    color: white !important;
    border-left: 5px solid #53b8c5;
}

.list, li a:hover {
    background-color: rgb(62, 69, 76);
    color: white;
    border-left: 5px solid #53b8c5;
    /* border-color:  #53b8c5; */
}

a {
    font-size: small;
    padding: 7px;
    color: rgb(217, 222, 226);
}

.name {
    background-color: rgb(62, 69, 76);
}

.profile:hover {
    cursor: pointer;
}

.profile {
    outline: none;
}

@media only screen and (max-width: 767px) {
    .sidehigh {
        position: fixed !important;
        overflow: auto;
        width: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        transition: all 0.5s;
    }
}

@media only screen and (max-width: 767px) {
    .sidehigh {
        position: fixed !important;
        overflow: auto;
        width: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        transition: all 0.5s;
    }
}

@media only screen and (max-width: 1440px) {}