<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">

            <app-header [titleData]="titleArray"></app-header>

        </div>
        <div class="container p-3">
            <div class="row">
                <div class="col-md-9 px-4">
                    <div class="card px-4">
                        <div class="card-body">
                            <h6 class="text-center text-white shadow p-3 bg-info "
                                style="font-weight: 600;letter-spacing: 0.05rem;">Hospital / Clinic Profile</h6>
                            <div class="home row pt-4">
                                <div class="col-md-9">
                                    <form [formGroup]="homeForm" (ngSubmit)="updateAdminInfo()">

                                        <mat-form-field>
                                            <input matInput placeholder="Hospital Name" formControlName="hospitalName"
                                                class="inp" #autoFocusTest>
                                        </mat-form-field><br>
                                        <mat-form-field>
                                            <input matInput placeholder="Hospital Reg Number"
                                                formControlName="hospital_reg_num" class="inp">
                                        </mat-form-field><br>
                                        <div class="pb-3">
                                            <label class="numberLabel" style="font-size: small;">Phone Number</label>
                                            <ngx-intl-tel-input class="homePh" #myInput [ngStyle]="{'color':'black !important'}" [cssClass]="'custom'"
                                                [preferredCountries]="preferredCountries"
                                                [enableAutoCountrySelect]="false" [enablePlaceholder]="false"
                                                [searchCountryFlag]="true"
                                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                [selectFirstCountry]="false" [maxLength]="15"
                                                [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                                [separateDialCode]="separateDialCode" name="phone"
                                                formControlName="checkPhone">
                                            </ngx-intl-tel-input>
                                            <div *ngIf="homeForm.get('checkPhone').touched && homeForm.get('checkPhone').dirty && homeForm.get('checkPhone').hasError('required')"
                                                style="color: red;font-size: small;">
                                                Phone Number is required.
                                            </div>
                                        </div>
                                        <mat-form-field>
                                            <input matInput placeholder="Email" formControlName="emailID" class="inp">
                                        </mat-form-field><br>
                                        <mat-form-field>
                                            <input matInput placeholder="Address" formControlName="address" class="inp">
                                        </mat-form-field><br>
                                        <table align="center">
                                            <tr>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="City" formControlName="city"
                                                            class="inp">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="State / Province / Region"
                                                            formControlName="state" class="inp">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                        <mat-form-field>
                                            <input matInput placeholder="Postcode" formControlName="postCode"
                                                class="inp">
                                        </mat-form-field><br>
                                        <div class="col-md-12 p-3">
                                            <div class="row justify-content-center">
                                                <div class="mr-2">
                                                    <div *ngIf="isLoading" style="display: flex; justify-content: center;">
                                                        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                                            [diameter]="30">
                                                        </mat-progress-spinner>
                                                    </div>
                                                    <button mat-raised-button
                                                        style="outline-style: none;border-radius: 20px; background-color: #17a2b8; color: whitesmoke;"
                                                        routerLinkActive="active"
                                                        *ngIf="disableUpdateBtn && !isLoading">Update</button>
                                                    <!--isAdminSystmMngr|-->
                                                </div>

                                            </div>
                                        </div>

                                        <p class="font-weight-light" style="font-size: small;">Last updated date :
                                            {{presentDate}}
                                            by {{userID}}</p>

                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <img class="edit" src="../../../assets/images/ui/Icons/2x/edit@2x.png"
                                        style="width: 60px;cursor: pointer;" (click)="openUpdate()" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>