/*From Admin Profile*/

* {
  font-family: 'Muli';
}
label{
    font-weight: bold;
}

.btn-danger:hover{
    font-size: large;
    font-weight: bold;
    color: black;
    background-color:#dc3545;
}

.btn-success:hover{
    font-size: large;
    font-weight: bold;
    color: black;
    background-color:green;
}

.close{
    outline: none !important;
}


*/ Modal Styles */
.modal-content{
    background: transparent !important;
    border: none !important;
    }
.bg-Custom{
background-color:#60348a !important;
padding: 20px;
text-align: center;
}
.btn-clr{
background-color: #f66 !important; 
border: none !important;
outline: none !important;
padding: 8px 25px !important;
}

.modal-footer{
background-color: white !important;
}
.modal-header{
background-color: white;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }

  .field-icon3 {
    float: right;
    margin-left: -25px;
    margin-top: 0px;
    position: relative;
    z-index: 2;
  }

  .edit{
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
  }

  .changepwd{
    float: left;
    margin-top: 370px;
    position: relative;
    z-index: 2;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(68, 65, 65);
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #e0dede;}
  .dropdown:hover .dropdown-content {display: block;}

   
*/ Modal Styles */
.modal-content{
    background: transparent !important;
    border: none !important;
    }
.bg-Custom{
background-color:#60348a !important;
padding: 20px;
text-align: center;
}
.btn-clr{
background-color: #f66 !important; 
border: none !important;
outline: none !important;
padding: 8px 25px !important;
}

.modal-footer{
background-color: white !important;
}
.modal-header{
background-color: white;
}

.badge{
  color: red;
  position: relative;
  margin-left: 60%;
  margin-top: -60%;
}

.example-full-width {
  width: 100% !important;
  padding: 5px;
}


table{
  width: 100% !important;
}

.mat-form-field {
  width: 100% !important;
}

::ng-deep .mat-form-field-label {
  /* color: white !important; */
  color: rgba(32, 31, 31, 0.5) !important;
}

::ng-deep .mat-form-field-underline {
  background-color: rgba(12, 12, 12, 0.5) !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #53B9C6 !important;
  ;
}
.inp {
  color: black;
}

::ng-deep .mat-select-value-text {
  color: black !important;
}