<div class="container-fluid">
    <div class="row h-100" style="padding: 100px;">
        <div class="col-md-4 align-self-center"></div>
        <div class="col-md-4 align-self-center">
            <div class="example-container">
                <form [formGroup]="adminSignINForm" (ngSubmit)="submitForm()" autocomplete="off">
                    <mat-form-field>
                        <input matInput placeholder="Email / User Name" formControlName="userID"
                            (keyup)="validationForm()">
                        <div class="text-danger" *ngIf="validationErrors.userID" class="text-danger">
                            {{validationErrors.userID}}
                        </div>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="{{password}}" formControlName="password"
                            (keyup)="validationForm()">
                        <span *ngIf="isPassword" (click)="showPassword()">
                            <i class="fa fa-fw fa-eye field-icon1"></i>
                        </span>
                        <span *ngIf="!isPassword" (click)="showPassword()">
                            <i class="fa fa-fw fa-eye-slash field-icon1"></i>
                        </span>
                        <div class="text-danger" *ngIf="validationErrors.password" class="text-danger">
                            {{validationErrors.password}}
                        </div>
                    </mat-form-field>
                    <button mat-raised-button class="loginbtn mb-3 mt-3" style="letter-spacing: 1px; outline-style: none;">LOGIN</button>
                    <div class="row p-2 ml-5">
                        <span (click)="forgot()">
                            <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                            Forgot <a> Username / Password ? </a></span>
                    </div>
                    <div class="row  p-2 ml-5">
                        <span (click)="signUp()"> <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                            Don't have an account yet? <a> Sign Up</a></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 align-self-center"></div>
    </div>
</div>