<div class="container">
    <div class="">
        <div>
            <h5>System User Management</h5>
        </div>

        <div>
            <h6>Administartor User</h6>

            <table class="table table-sm table-bordered">
                <thead>
                  <tr class="table-active">
                    <th scope="col">No</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Department</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>User0001</td>
                    <td>Administrative</td>
                    <td>Admin One</td>
                    <td>adminone@spec.com</td>
                    <td>
                        <span class="mr-2">view</span>
                        <span class="mr-2">edit</span>
                        <span>delete</span>
                    </td>
                  </tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td>Administrative</td>
                    <td>Jacob</td>
                    <td>jacob@spec.com</td>
                    <td>@mdo</td>
                  </tr> -->
                  <!-- <tr>
                    <th scope="row">3</th>
                    <td >Larry the Bird</td>
                    <td>std</td>
                    <td>@twitter</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr> -->
                </tbody>
              </table>
        </div>

        <div>
            <h6>Medical Personnel User</h6>

            <table class="table table-sm table-bordered">
                <thead>
                  <tr class="table-active">
                    <th scope="col">No</th>
                    <th scope="col">Identity</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Department</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Doctor</td>
                    <td>User0001</td>
                    <td>Family Practive</td>
                    <td>Jacob</td>
                    <td>jacob@spec.com</td>
                    <td>
                        <span class="mr-2">view</span>
                        <span class="mr-2">edit</span>
                        <span>delete</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Doctor</td>
                    <td>User0001</td>
                    <td>Surgeon</td>
                    <td>Andrea</td>
                    <td>andrea@spec.com</td>
                    <td>
                        <span class="mr-2">view</span>
                        <span class="mr-2">edit</span>
                        <span>delete</span>
                    </td>
                  </tr>
                  <!-- <tr>
                    <th scope="row">3</th>
                    <td >Larry the Bird</td>
                    <td>std</td>
                    <td>@twitter</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr> -->
                </tbody>
              </table>

        </div>

        <div>
            <p>Last Update Date : 25/10/2019 14:20:21</p>
        </div>
    </div>
</div>
