::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background: rgb(82, 192, 211);
    height: 3px;
  }

  .btn-clr {
    background-color: #f66 !important;
    border: none !important;
    outline: none !important;
    padding: 8px 25px !important;
  }

  .headerTitle{
    color: rgb(53, 50, 50);background-color:rgb(167, 171, 172);
    padding: 7px;
  }

  .headerPart{
    background-color: rgba(0,0,0,0.03);
  }

  .cross{
    color: black;
  }

  th{
    margin: 15px;
    font-size: 12px;
    font-weight: 300;
  }

  .calenderLogo{
    margin-left: 280px;
    margin-top: -28px;
  }

  .handCursor{
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

.scrollService {
  height: 30vh !important;
  overflow: auto;
  overflow-x: hidden;
}

.scrollService::-webkit-scrollbar-track {
  border-radius: 2px;
}

.scrollService::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F7F7F7;
}

.scrollService::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #53B9C6;
}

  /* .read:focus{
    border: 1px solid #fff;
  } */

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.tableData {
  font-size: 8px;
  padding: inherit;
}
.searchIcon{
  margin-left: 70px;
}
.partOne{
  padding-left: 40px;
  padding-bottom: 5px;
}
.firstPart{
  padding-bottom: 8px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tableData {
    font-size: 10px;
    padding: inherit;
  }
  
.searchIcon{
  margin-left: 80px;
}
.partOne{
  padding-left: 40px;
  padding-bottom: 5px;
}
.firstPart{
  padding-bottom: 8px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tableData {
    font-size: 12px;
  }
  
.searchIcon{
  margin-left: 85px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tableData {
    font-size: 12px;
  }
  
.searchIcon{
  margin-left: 145px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tableData {
    font-size: 12px;
  }
  
.searchIcon{
  margin-left: 150px;
}
.partOne{
  padding-left: initial;
  padding-bottom: 2px;
}
}