.field-icon3 {
    float: right;
    
    margin-top: -26px;
    position: relative;
    z-index: 2;
  }

.field-icon3:hover{
  cursor: pointer;
}  

 /* height: 35vh; */
 
/* ::ng-deep .modal-content{
  margin-top: 20vh;
}

::ng-deep .modal.show .modal-dialog {
width: 30%;
} */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .buttonWidth{
      width: 100%;
    }
    .bodyWidth{
      width: 70%;
    }
    .tableData {
      font-size: 8px;
      padding: inherit;
    }
    .searchIcon{
      margin-left: 70px;
    }
    .field-icon3{
      margin-left: 185px;
    }
    ::ng-deep .modal-content{
      margin-top: 20vh;
    }
    
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .buttonWidth{
        width: 100%;
      }
      .bodyWidth{
        width: 65%;
      }
      .tableData {
        font-size: 10px;
        padding: inherit;
      }
      
    .searchIcon{
      margin-left: 80px;
    }
    .field-icon3{
      margin-left: 310px;
    }
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .buttonWidth{
        width: 100%;
      }
      .bodyWidth{
        width: 60%;
      }
      .tableData {
        font-size: 12px;
      }
      
    .searchIcon{
      margin-left: 85px;
    }
    
    .field-icon3{
      margin-left: 330px;
    }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      .buttonWidth{
        width: 100%;
      }
      .bodyWidth{
        width: 45%;
      }
      .tableData {
        font-size: 12px;
      }
      
    .searchIcon{
      margin-left: 145px;
    }
    
    .field-icon3{
      margin-left: 350px;
    }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
     .buttonWidth{
       width: 100%;
     }
     .bodyWidth{
       width: 35%;
     }
      .tableData {
        font-size: 12px;
      }
      
      .field-icon3{
        margin-left: 355px;
      }

      ::ng-deep .modal-content{
        margin-top: 20vh;
      }
      
      ::ng-deep .modal.show .modal-dialog {
      width: 30%;
      }
    }