<div class="container-fluid">
    <div>
        <div class="row">
            <img src="../../../assets/images/ui/Icons/2x/header@2x.png" width="100%" style="height: 20vh;">
        </div>
        <div class="row" style="padding: 25px 0px 25px 0px;">
            <div class="col-4"></div>
            <div class="col-4" style="padding: 0px 60px 0px 60px;">

                <form [formGroup]="changePatientPasswordForm" (ngSubmit)="changePatientPwdSubmit()">

                    <div class="row">
                        <div style="font-size: 30px;font-weight: 600;">Password Reset</div>
                    </div>
                    <div class="row" style="padding: 0 0 10px 0;">
                        <div style="font-size: 15px;font-weight: 500;">Enter your new password</div>
                    </div>
                    <div class="row">
                        <label style="font-size: 12px;font-weight: 600;">Password</label>
                    </div>
                    <div class="row" style="padding: 0 0 10px 0;">
                        <input formControlName="password" type="{{password1}}" style="width: 100%;padding: 5px 5px 5px 10px;border-radius: 5px;
                    border: 1px solid rgb(97, 99, 99);outline-style: none;">
                        <span *ngIf="!isPasswordOne" (click)="showPassword1()">
                            <i class="fa fa-fw fa-eye field-icon3"></i>
                        </span>
                        <span *ngIf="isPasswordOne" (click)="showPassword1()">
                            <i class="fa fa-fw fa-eye-slash field-icon3"></i>
                        </span>
                    </div>
                    <div class="row">
                        <label style="font-size: 12px;font-weight: 600;">Confirm Password</label>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <input formControlName="newPassword" type="{{password2}}" style="width: 100%;padding: 5px 5px 5px 10px;border-radius: 5px;
                    border: 1px solid rgb(97, 99, 99);outline-style: none;">
                        <span *ngIf="!isPasswordTwo" (click)="showPassword2()">
                            <i class="fa fa-fw fa-eye field-icon3"></i>
                        </span>
                        <span *ngIf="isPasswordTwo" (click)="showPassword2()">
                            <i class="fa fa-fw fa-eye-slash field-icon3"></i>
                        </span>
                        <div *ngIf="changePatientPasswordForm.get('newPassword').hasError('checkPasswords') &&
                         changePatientPasswordForm.get('newPassword').touched">
                            <p>not same</p>
                        </div>
                        <div style='color:#ff7355' *ngIf="changePatientPasswordForm.get('newPassword').touched && changePatientPasswordForm.get('newPassword').dirty &&
                        changePatientPasswordForm.get('password').value != changePatientPasswordForm.get('newPassword').value &&
                        changePatientPasswordForm.get('newPassword').value != null">
                            Password does not match</div>
                    </div>

                    <div class="" style="width: 110%;
                    margin-left: -15px;">
                        <div *ngIf="isLoading" style="display: flex; justify-content: center;">
                            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                [diameter]="30">
                            </mat-progress-spinner>
                        </div>
                        <button style="width: 100%;
                    border: none;
                    border-radius: 5px;
                    padding: 7px;font-weight: 500;background-color: rgb(62, 63, 63);
                    color: white;outline-style: none;" *ngIf="!isLoading"
                    [disabled]="!changePatientPasswordForm.valid">Done</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>

<ng-template #viewSuccessContent let-modal>
    
    <div class="modal-header p-2  justify-content-end" style="background-color:white; color: mintcream;border-bottom: transparent;">
        <div class="matIcon pr-3">
          <mat-icon (click)="modal.dismiss('Cross click')" style="cursor: pointer;"><img src="../../../assets/images/ui/Icons/1x/cancel.png"></mat-icon>
        </div>
      </div>
    <div class="modal-body" >
        <div class=" " style="text-align: center;padding: 17px 0px 17px 0;">
            <img src="../../../assets/images/ui/Icons/1x/adminsuccess.png" style="width: 30%;padding-bottom: 17px;"><br>
            <span style="font-size: 14px;font-weight: 600;">{{viewSuccessContent1}}</span><br>
            <span style="font-size: 12px;font-weight: 600;">{{successResponse}}</span><br>
            <!-- <span style="font-size: 12px;font-weight: 500;">{{viewSuccessContent2}}</span> -->
        </div>
    </div>
    <div class="modal-footer justify-content-center p-2" style="border-top: transparent;">
    </div>
</ng-template>
<ng-template #viewFailureContent let-modal>
    
    <div class="modal-header p-2  justify-content-end" style="background-color:white; color: mintcream;border-bottom: transparent;">
        <div class="matIcon pr-3">
          <mat-icon (click)="modal.dismiss('Cross click')" style="cursor: pointer;"><img src="../../../assets/images/ui/Icons/1x/cancel.png"></mat-icon>
        </div>
      </div>
    <div class="modal-body">
        <div class="" style="text-align: center;padding: 17px 0px 17px 0;">
            <img src="../../../assets/images/ui/Icons/1x/adminfail.png" style="width: 30%;padding-bottom: 17px;"><br>
            <span style="font-size: 14px;font-weight: 600;">{{viewFailureContent1}}</span><br>
            <span style="font-size: 12px;font-weight: 600;">{{failureResponse}}</span><br>
            <!-- <span style="font-size: 12px;font-weight: 500;">{{viewFailureContent2}}</span> -->
        </div>
    </div>
    <div class="modal-footer justify-content-center p-0" style="border-top: transparent;">
        <div style="text-align: center;width: 100%;">
          <button type="submit" class="btn btn-sm"
            style="width: 18%;height: 30px;padding-top: 2px; font-weight: 500;font-size: medium; color: black;border: 1px solid #7b7b7e;margin-right: 15px;"
            (click)="modal.dismiss('Cross click')">Cancel</button>
            <a href="{{urlLink}}" 
            (click)="modal.dismiss('Cross click')" style="text-decoration: none;">
                <button class="btn1" style="width: 30%;
text-align: center; height: 30px;
 background-color: rgb(146, 202, 228); 
   border: none; border-radius: 5px;
   opacity: 100%; white-space: nowrap;
  outline-style: none;">
                    <!--box-shadow: 0pt 10pt 20pt;-->
                    <b class="line3"
                        style="font-size: 14px;  font-weight: 500;font-family: sans-serif;color: white;opacity: 100%;">
                    Try Again
                    </b>
                    <!--Montserrat-->
                </button>
                <!---->
            </a>
        </div>
        <!--[disabled]="addAdminGenUserForm.invalid"-->
      </div>
</ng-template>