<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <app-header [titleData]="titleArray"></app-header>
        </div>
        <div class="container p-3">
            <div class="row">
                <div class="col-md-10 px-4">
                    <div class="card-bg card px-4">
                        <div class="card-body">
                            <h6 class="text-center text-white shadow p-3 bg-info "
                                style="font-weight: 600;letter-spacing: 0.05rem;">Admin Profile</h6>
                            <div class="adminProfile row pt-4">
                                <div class="col-md-7">
                                    <form [formGroup]="adminProfileForm" (ngSubmit)="updateAdminGeneralUser()">
                                        <table align="center">
                                            <tr>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" matInput placeholder="User ID"
                                                            formControlName="userID" class="inp">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Identity"
                                                            formControlName="identity" class="inp">
                                                        <!--style="font-size: xx-small;"-->
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>

                                        <table align="center">
                                            <tr>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="First Name" #autoFocusTest
                                                            formControlName="firstName" class="inp">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Last Name"
                                                            formControlName="lastName" class="inp">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="pb-3 ">
                                            <label class="numberLabel" style="font-size: small;">Phone Number</label>
                                            <div class="phno" >
                                                <ngx-intl-tel-input  class="adminProfilePh" #myInput
                                                    [ngStyle]="{'color':'red !important'}"
                                                    readonly="true"
                                                    [cssClass]="'custom'"
                                                    [preferredCountries]="preferredCountries"
                                                    [enableAutoCountrySelect]="false" [enablePlaceholder]="false"
                                                    [searchCountryFlag]="true"
                                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                    [selectFirstCountry]="false" [maxLength]="15"
                                                    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                                    [separateDialCode]="separateDialCode" name="phone"
                                                    formControlName="checkPhone">
                                                </ngx-intl-tel-input>
                                            </div>
                                            <!--[selectedCountryISO]="CountryISO.India"-->
                                            <div *ngIf="adminProfileForm.get('checkPhone').touched && adminProfileForm.get('checkPhone').dirty && adminProfileForm.get('checkPhone').hasError('required')"
                                                style="color: red;font-size: small;">
                                                Phone Number is required.
                                            </div>
                                        </div>
                                        <mat-form-field>
                                            <mat-label>Department</mat-label>
                                            <mat-select name="department" formControlName="department">
                                                <mat-option *ngFor="let department of departments"
                                                    [value]="department.value">
                                                    {{department.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput type="{{password}}" placeholder="Password"
                                                formControlName="password" class="inp">
                                            <span *ngIf="isPassword" (click)="showPassword()">
                                                <i class="fa fa-fw fa-eye-slash field-icon3" style="cursor: pointer;"></i>
                                            </span>
                                            <span *ngIf="!isPassword" (click)="showPassword()">
                                                <i class="fa fa-fw fa-eye field-icon3" style="cursor: pointer;"></i>
                                            </span>
                                        </mat-form-field><br>

                                        <div class="col-md-12 p-3">
                                            <div class="row justify-content-center">
                                                <div class="mr-2">
                                                    <div *ngIf="isLoading"
                                                        style="display: flex; justify-content: center;">
                                                        <mat-progress-spinner class="example-margin" color="primary"
                                                            mode="indeterminate" [diameter]="30">
                                                        </mat-progress-spinner>
                                                    </div>
                                                    <button mat-raised-button
                                                        style="outline-style: none;border-radius: 20px; background-color: #17a2b8; color: whitesmoke;"
                                                        routerLinkActive="active"
                                                        *ngIf="disableUpdateBtn && !isLoading">Update</button>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="font-weight-light" style="font-size: small;padding-top: 20px;">Last updated date :
                                            {{presentDate}}
                                            by {{userID}}</p>

                                    </form>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <div class="row justify-content-between">
                                        <!--Upload IMg-->
                                        <div class="justify-content-center"
                                            style="text-align: -webkit-center;padding-left: 20px;">
                                            <div style="border-radius: 50% !important;width: 100px;height: 100px;">
                                                <img class=""
                                                    style="border: 2px solid rgb(150, 211, 235);border-radius: 50%;min-width: 100px;min-height: 100px;max-height: 100px;max-width: 100px;width: 100px;height: 100px;"
                                                    src="{{previewImg}}">
                                                <!---->
                                            </div>
                                            <div class="container">
                                                <div class="row ">
                                                    <div class="img-move input-group mb-3 mt-3">
                                                        <input type="file" class="form-control" name="file"
                                                            id="inputGroupFile01" #fileInput
                                                            aria-describedby="inputGroupFileAddon01"
                                                            accept=".png, .jpg, .jpeg" (change)="fileProgress($event)"
                                                            class="d-none">
                                                        <button mat-raised-button
                                                            style="outline-style: none;border-radius: 20px; color: black !important;"
                                                            (click)="fileInput.click()" type="button">
                                                            <!--background-color: rgb(197, 213, 219);  class="btn m-auto btn-sm font-weight-normal  "-->
                                                            Upload Photo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Upload IMG Ends-->
                                        <div>
                                            <img class="edit" src="../../../assets/images/ui/Icons/1x/edit1.png"
                                                style="width: 70px;cursor: pointer;" (click)="openUpdate()">
                                        </div>
                                    </div>
                                    <div class="changepwd">
                                        <button mat-raised-button style="outline-style: none;border-radius: 20px;"
                                            (click)="open(content)" routerLinkActive="active">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </div>

</div>

<!-- Change Password popup -->
<ng-template #content let-modal>
    <div class="modal-header" style="background-color: #3E454C;color: white;">
        <h5 class="modal-title justify-content-center" id="modal-basic-title">Change Password</h5>

        <button type="button" class="close text-black-50" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="cross text-white"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changePasswordForm">
            <div class="form-group">
                <div class="row p-2 justify-content-around">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label>User ID</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control bg-light" formControlName="userID">

                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row p-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label>Old Password</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control bg-light" formControlName="oldPassword">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row p-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label>New Password</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control bg-light" formControlName="newPassword">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row p-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label class="text-nowrap">Confirm Password</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control bg-light" formControlName="confirmpassword">
                        <div
                            *ngIf="changePasswordForm.get('confirmpassword').hasError('checkPasswords') && changePasswordForm.get('confirmpassword').touched">
                            <p>not same</p>
                        </div>
                        <div style='color:#ff7355'
                            *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').dirty && changePasswordForm.get('newPassword').value != changePasswordForm.get('confirmpassword').value && changePasswordForm.get('confirmpassword').value != null">
                            Password does not match</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button style="outline-style: none;" (click)="modal.close('Close click')">Cancel
        </button>
        <button type="submit" mat-raised-button class="btn btn-sm  "
            style="font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;"
            (click)="changePwdSubmit()" [disabled]="changePasswordForm.valid">Change Password</button>
    </div>
</ng-template>