<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <app-header [titleData]="titleArray"></app-header>
        </div>
        <div class="container p-3">
            <div class="row">
                <div class="col-md-9 px-4">
                    <div class="card-bg card px-4">
                        <div class="card-body">
                            <h6 class="text-center text-white shadow p-3"
                                style="font-weight: 600;letter-spacing: 0.05rem;background-color: #53B9C6;">Admin Profile</h6>
                            <div class="adminProfile row pt-4">
                                <div class="col-md-7">
                                    <form [formGroup]="adminProfileForm" (ngSubmit)="updateAdminGeneralUser()">
                                        <table align="center">
                                            <tr>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input type="text" matInput placeholder="User ID"
                                                            formControlName="userID" class="inp">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Identity"
                                                            formControlName="identity" class="inp">
                                                        <!--style="font-size: xx-small;"-->
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>

                                        <table align="center">
                                            <tr>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="First Name" #autoFocusTest
                                                            formControlName="firstName" class="inp">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Last Name"
                                                            formControlName="lastName" class="inp">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="pb-3 ">
                                            <label class="numberLabel" style="font-size: small;">Phone Number</label>
                                            <div class="phno" >
                                                <ngx-intl-tel-input  class="adminProfilePh" #myInput
                                                    [ngStyle]="{'color':'red !important'}"
                                                    readonly="true"
                                                    [cssClass]="'custom'"
                                                    [preferredCountries]="preferredCountries"
                                                    [enableAutoCountrySelect]="false" [enablePlaceholder]="false"
                                                    [searchCountryFlag]="true"
                                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                    [selectFirstCountry]="false" [maxLength]="15"
                                                    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                                    [separateDialCode]="separateDialCode" name="phone"
                                                    formControlName="checkPhone">
                                                </ngx-intl-tel-input>
                                            </div>
                                            <!--[selectedCountryISO]="CountryISO.India"-->
                                            <div *ngIf="adminProfileForm.get('checkPhone').touched && adminProfileForm.get('checkPhone').dirty && adminProfileForm.get('checkPhone').hasError('required')"
                                                style="color: red;font-size: small;">
                                                Phone Number is required.
                                            </div>
                                        </div>
                                        <mat-form-field>
                                            <mat-label>Department</mat-label>
                                            <mat-select name="department" formControlName="department">
                                                <mat-option *ngFor="let department of departments"
                                                    [value]="department.value">
                                                    {{department.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput type="{{password}}" placeholder="Password"
                                                formControlName="password" class="inp">
                                            <span *ngIf="isPassword" (click)="showPassword()">
                                                <i class="fa fa-fw fa-eye-slash field-icon3" style="cursor: pointer;"></i>
                                            </span>
                                            <span *ngIf="!isPassword" (click)="showPassword()">
                                                <i class="fa fa-fw fa-eye field-icon3" style="cursor: pointer;"></i>
                                            </span>
                                        </mat-form-field>
                                        <p style="font-size: 12px;font-weight: 500;">Last updated date :
                                            {{presentDate}}
                                            by {{userID}}</p>
                                        <div class="col-md-12 p-3">
                                            <div class="row justify-content-center">
                                                <div class="mr-2">
                                                    <div *ngIf="isLoading"
                                                        style="display: flex; justify-content: center;">
                                                        <mat-progress-spinner class="example-margin" color="primary"
                                                            mode="indeterminate" [diameter]="30">
                                                        </mat-progress-spinner>
                                                    </div>
                                                    <button mat-raised-button
                                                        style="outline-style: none;border-radius: 20px; background-color: #17a2b8; color: whitesmoke;"
                                                        routerLinkActive="active"
                                                        *ngIf="disableUpdateBtn && !isLoading">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="col-md-1"></div> -->
                                <div class="col-md-5">
                                    <div class="row " style="justify-content: center;"> <!--justify-content-between-->
                                        <!--Upload IMg-->
                                        <div class="justify-content-center"
                                            style="text-align: -webkit-center;padding-left: 20px;">
                                            <div style="border-radius: 50% !important;width: 100px;height: 100px;">
                                                <img class=""
                                                    style="border: 2px solid rgb(150, 211, 235);border-radius: 50%;min-width: 100px;min-height: 100px;max-height: 100px;max-width: 100px;width: 100px;height: 100px;"
                                                    src="{{previewImg}}">
                                                <!---->
                                            </div>
                                            <div class="container">
                                                <div class="row " > <!--*ngIf="disableUpdateBtn"-->
                                                    <div class="img-move input-group mb-3 mt-3">
                                                        <input type="file" class="form-control" name="file"
                                                            id="inputGroupFile01" #fileInput
                                                            aria-describedby="inputGroupFileAddon01"
                                                            accept=".png, .jpg, .jpeg" (change)="fileProgress($event)"
                                                            class="d-none">
                                                        <button mat-raised-button
                                                            style="outline-style: none;border-radius: 5px; color: #53B9C6 !important;
                                                            height: 30px;line-height: 1;font-size: 12px;font-weight: 500;"
                                                            (click)="fileInput.click()" type="button">
                                                            <!--background-color: rgb(197, 213, 219);  class="btn m-auto btn-sm font-weight-normal  "-->
                                                            Upload Photo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Upload IMG Ends-->
                                        <div>
                                            <img class="edit" src="../../../assets/images/ui/Icons/1x/edit1.png"
                                                style="width: 70px;margin-left: 35px;cursor: pointer;" (click)="openUpdate()">
                                        </div>
                                    </div>
                                    <div class="changepwd">
                                        <button mat-raised-button style="outline-style: none;border-radius: 14px;
                                        height: 30px;line-height: 1; font-size: 12px;font-weight: 600;"
                                            (click)="open(content)" routerLinkActive="active">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </div>

</div>

<!-- Change Password popup -->
<ng-template #content let-modal>
    <div class="modal-header" style="background-color: #f9f9f9;color: black;">
        <span class="modal-title" style="font-weight: 600;text-align: left;font-size: 18px;">
            Change Password</span>
        <img style="width:18px" class="crossImg" (click)="modal.dismiss('Cross click')" src="../../../assets/images/ui/Icons/1x/cancel.png">
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <img style="width:18px" src="../../../assets/images/ui/Icons/1x/cancel.png">
        </button> -->
    </div>
    <div class="modal-body">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form [formGroup]="changePasswordForm">
                <div class="form-group" style="margin-bottom: 2px;">
                    <div class="row">
                            <div style="justify-content: start;">
                                <label style="font-size: 12px;font-weight: 500;">User ID</label>
                            </div>                           
                            <input style="height: 30px;font-size: 12px;font-weight: 500;" type="text" class="form-control bg-white" formControlName="userID">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 2px;">
                    <div class="row">
                        <div style="justify-content: start;">
                            <label style="font-size: 12px;font-weight: 500;">Old Password</label>
                        </div>
                            <input style="height: 30px;font-size: 12px;font-weight: 500;" type="text" class="form-control bg-white" formControlName="oldPassword">
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 2px;">
                    <div class="row ">
                        <div style="justify-content: start;">
                            <label style="font-size: 12px;font-weight: 500;">New Password</label>
                        </div>
                            <input style="height: 30px;font-size: 12px;font-weight: 500;" type="text" class="form-control bg-white" formControlName="newPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row ">
                        <div style="justify-content: start;">
                            <label class="text-nowrap" style="font-size: 12px;font-weight: 500;">Confirm Password</label>
                        </div>
                        
                            <input style="height: 30px;font-size: 12px;font-weight: 500;" type="text" class="form-control bg-white" formControlName="confirmpassword">
                            <div
                                *ngIf="changePasswordForm.get('confirmpassword').hasError('checkPasswords') && changePasswordForm.get('confirmpassword').touched">
                                <p>not same</p>
                            </div>
                            <div style='color:#ff7355'
                                *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').dirty && changePasswordForm.get('newPassword').value != changePasswordForm.get('confirmpassword').value && changePasswordForm.get('confirmpassword').value != null">
                                Password does not match</div>
                        
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
    <div class="modal-footer" style="padding-right: 30px;padding-bottom: 30px;
    border-top: transparent;">
        <button mat-raised-button style="height: 30px;line-height: 1;border-radius: 10px;"
         (click)="modal.close('Close click')">Cancel
        </button>
        <button type="submit" mat-raised-button class="btn btn-sm  "
            style="height: 30px; font-weight: 500;line-height: 1; background-color: #53B9C6; color: white;border-radius: 10px;"
            (click)="changePwdSubmit()" [disabled]="changePasswordForm.valid">Change Password</button>
    </div>
</ng-template>