* {
  font-family: 'Muli';
}
button {
  outline: none !important;
}
.close{
    outline: none !important;
}
*/ Modal Styles */
.modal-footer{
background-color: white !important;
}
.modal-header{
background-color: white;
}
  .field-icon3 {
    float: right;
    margin-left: -25px;
    margin-top: 0px;
    position: relative;
    z-index: 2;
  }

  .edit{
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
  }

  .changepwd{
    float: left;
    margin-top: 140px;
    position: relative;
    /* z-index: 1; */
  }
   
 ::ng-deep  .example-full-width {
  width: 100% !important;
  padding: 5px;
}

table{
  width: 100% !important;
}

::ng-deep .adminProfile .mat-form-field {
  width: 100% !important;
}

::ng-deep .adminProfile .mat-form-field .mat-form-field-label {
  color: #3E454C !important;
}

::ng-deep .adminProfile .mat-form-field .mat-form-field-underline {
  background-color: rgba(12, 12, 12, 0.5) !important;
  width: 100% !important;
}

.inp {
  color: black;
}

::ng-deep .adminProfile .mat-form-field .mat-select-value-text {
  color: black !important;
}

::ng-deep .adminProfile .mat-form-field .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #53B9C6 !important;
  ;
}

::ng-deep .adminProfile .adminProfilePh .intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
  width: 444px !important; 
  border: none !important;
  background: transparent !important;
  border-bottom: 1px solid #3E454C !important;
  color: rgb(14, 13, 13) !important;
  scroll-behavior: unset;
  scroll-padding-inline: inherit;
}

::ng-deep .adminProfile .intl-tel-input .search-container input{
  color: rgb(25, 28, 29) !important;
}

::ng-deep .adminProfile .intl-tel-input.separate-dial-code .selected-dial-code {
  color: rgb(17, 17, 17) !important;
}

::ng-deep .adminProfile .country-dropdown {
  width: 28rem !important;
}

