<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Body Index</h3>
                </div>
                <div class="card-body m-0 ">
                    <form>
                        <div>
                            <div class="form-group p-0 m-0">
                                <div class="container  p-0 m-0">
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputPatientID" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Date and Time</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputMedicalRecordID" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Height</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputLastName" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Weight</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputFirstName" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Waistline</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputGender" class="font-weight-bold d-flex"
                                                style="line-height: 2;">BMI</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputDOB" class="font-weight-bold d-flex"
                                                style="line-height: 2;">BMR</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputAge" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Blood Pleasure</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="row p-1">
                                        <div class="col-md-4">
                                            <label for="exampleInputPhoneNumber" class="font-weight-bold d-flex"
                                                style="line-height: 2;">Heart pressure</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control bg-light">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-around">
                            <a class="btn btn-sm btn-success m-3 p-2" style="line-height:1;" href="#">Update</a>
                            <button class="btn btn-sm btn-success m-0 p-2" style="line-height:1;">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>