<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3>Vaccinations</h3>
        </div>
        <div class="card-body m-0 ">
          <form>
            <h4 class="d-flex">Vaccinations</h4>
            <table class="table table-sm table-bordered w-auto">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-0">
                    <select id="inputGroup" style="border: none; outline: none; ">
                      <option selected>Choose</option>
                      <option value="1">Tetanus</option>
                      <option value="2">Influenza Vaccine</option>
                      <option value="3">Zostavax</option>
                      <option value="4">Meningitis</option>
                      <option value="5">Yellow Fever</option>
                      <option value="6">Polio</option>
                      <option value="7">Others</option>
                    </select>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="justify-content-around">
              <a class="btn btn-sm btn-success m-3 p-2" style="line-height:1;" href="#">Update</a>
              <button class="btn btn-sm btn-success m-0 p-2" style="line-height:1;">Complete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>