* {
  font-family: "Muli reg", sans-serif !important;
}

.field-icon3 {
  float: right;
  margin-left: 200px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
}

.field-icon3:hover {
  cursor: pointer;
}

/* ::ng-deep .modal-content {
  margin-top: 35vh;
}

::ng-deep .modal.show .modal-dialog {
  width: 30%;
} */

@media only screen and (min-width: 350px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 80%;
  }
  .tableData {
    font-size: 8px;
    padding: inherit;
  }
  .searchIcon {
    margin-left: 60px;
  }
  .field-icon3 {
    margin-left: 160px !important;
  }
}

@media only screen and (min-width: 375px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 85%;
  }
  .tableData {
    font-size: 8px;
    padding: inherit;
  }
  .searchIcon {
    margin-left: 60px;
  }
  .field-icon3 {
    margin-left: 195px !important;
  }
}

@media only screen and (min-width: 400px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 85%;
  }
  .tableData {
    font-size: 8px;
    padding: inherit;
  }
  .searchIcon {
    margin-left: 60px;
  }
  .field-icon3 {
    margin-left: 210px !important;
  }
}

@media only screen and (min-width: 425px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 80%;
  }
  .tableData {
    font-size: 8px;
    padding: inherit;
  }
  .searchIcon {
    margin-left: 60px;
  }
  .field-icon3 {
    margin-left: 215px !important;
  }
}

/* Extra small devices (phones, 600px and down) */

/* @media only screen and (max-width: 600px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 70%;
  }
  .tableData {
    font-size: 8px;
    padding: inherit;
  }
  .searchIcon {
    margin-left: 70px;
  }
  .field-icon3 {
    margin-left: 185px !important;
  }
  ::ng-deep .modal-content {
    margin-top: 20vh;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 65%;
  }
  .tableData {
    font-size: 10px;
    padding: inherit;
  }
  .searchIcon {
    margin-left: 80px;
  }
  .field-icon3 {
    margin-left: 310px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 60%;
  }
  .tableData {
    font-size: 12px;
  }
  .searchIcon {
    margin-left: 85px;
  }
  .field-icon3 {
    margin-left: 340px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 45%;
  }
  .tableData {
    font-size: 12px;
  }
  .searchIcon {
    margin-left: 145px;
  }
  .field-icon3 {
    margin-left: 340px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .buttonWidth {
    width: 100%;
  }
  .bodyWidth {
    width: 35%;
  }
  .tableData {
    font-size: 12px;
  }
  .field-icon3 {
    margin-left: 380px !important;
  }
  ::ng-deep .modal-content {
    margin-top: 20vh;
  }
  ::ng-deep .modal.show .modal-dialog {
    width: 30%;
  }
}