.field-icon3 {
    float: right;
    margin-left: 340px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
  }

.field-icon3:hover{
  cursor: pointer;
}  

::ng-deep .modal-content{
  /* height: 35vh; */
  margin-top: 35vh;
}

::ng-deep .modal.show .modal-dialog {
width: 30%;
}