<div class="container-fluid">
    <div>
        <div class="row">
            <img src="../../../assets/images/ui/Icons/2x/header@2x.png" width="100%" style="height: 20vh;">
        </div>
        <div class="row" style="padding: 25px 0px 25px 0px;justify-content: center;">
            <!-- <div class="col-4"></div> -->
            <div class="bodyWidth" style="padding: 0px 60px 0px 60px;">

                <form [formGroup]="changePatientPasswordForm" (ngSubmit)="changePatientPwdSubmit()">

                    <div class="row">
                        <div style="font-size: 30px;font-weight: 600;">Password Reset</div>
                    </div>
                    <div class="row" style="padding: 0 0 10px 0;">
                        <div style="font-size: 15px;font-weight: 500;">Enter your new password</div>
                    </div>
                    <div class="row">
                        <label style="font-size: 12px;font-weight: 600;">Password</label>
                    </div>
                    <div class="row" style="padding: 0 0 10px 0;">
                        <input formControlName="password" type="{{password1}}" style="width: 100%;padding: 5px 5px 5px 10px;border-radius: 5px;
                    border: 1px solid rgb(97, 99, 99);outline-style: none;">
                        <span *ngIf="!isPasswordOne" (click)="showPassword1()">
                            <i class="fa fa-fw fa-eye field-icon3"></i>
                        </span>
                        <span *ngIf="isPasswordOne" (click)="showPassword1()">
                            <i class="fa fa-fw fa-eye-slash field-icon3"></i>
                        </span>
                    </div>
                    <div class="row">
                        <label style="font-size: 12px;font-weight: 600;">Confirm Password</label>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <input formControlName="newPassword" type="{{password2}}" style="width: 100%;padding: 5px 5px 5px 10px;border-radius: 5px;
                    border: 1px solid rgb(97, 99, 99);outline-style: none;">
                        <span *ngIf="!isPasswordTwo" (click)="showPassword2()">
                            <i class="fa fa-fw fa-eye field-icon3"></i>
                        </span>
                        <span *ngIf="isPasswordTwo" (click)="showPassword2()">
                            <i class="fa fa-fw fa-eye-slash field-icon3"></i>
                        </span>
                        <div *ngIf="changePatientPasswordForm.get('newPassword').hasError('checkPasswords') &&
                         changePatientPasswordForm.get('newPassword').touched">
                            <p>not same</p>
                        </div>
                        <div style='color:#ff7355' *ngIf="changePatientPasswordForm.get('newPassword').touched && changePatientPasswordForm.get('newPassword').dirty &&
                        changePatientPasswordForm.get('password').value != changePatientPasswordForm.get('newPassword').value &&
                        changePatientPasswordForm.get('newPassword').value != null">
                            Password does not match</div>
                    </div>

                    <div class="" style="margin-right: -28px;">
                        <div *ngIf="isLoading" style="display: flex; justify-content: center;">
                            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                [diameter]="30">
                            </mat-progress-spinner>
                        </div>
                        <button class="buttonWidth" style="border: none;margin-left: -15px;
                        border-radius: 5px;
                        padding: 7px;font-weight: 500;background-color: rgb(62, 63, 63);
                    color: white;outline-style: none;width: 100%;" *ngIf="!isLoading"
                            [disabled]="!changePatientPasswordForm.valid">Done</button>
                    </div>
                </form>
            </div>
            <!-- <div class="col-4"></div> -->
        </div>
    </div>
</div>

<ng-template #viewSuccessContent let-modal>
    <div class="modal-body">
        <div class=" " style="text-align: center;padding: 17px 0px 17px 0px;">
            <img src="../../../assets/images/ui/Icons/1x/success.png" style="width: 30%;padding-bottom: 17px;"><br>
            <span style="font-size: 14px;font-weight: 600;">{{viewSuccessContent1}}</span><br>
            <span style="font-size: 12px;font-weight: 500;">{{successResponse}}</span><br>
            <!-- <span style="font-size: 12px;font-weight: 500;">{{viewSuccessContent2}}</span> -->
        </div>
    </div>
</ng-template>
<ng-template #viewFailureContent let-modal>
    <div class="modal-body">
        <div class="" style="text-align: center;padding: 17px 00px 17px 0px;">
            <img src="../../../assets/images/ui/Icons/1x/fail.png" style="width: 30%;padding-bottom: 17px;"><br>
            <span style="font-size: 14px;font-weight: 600;">{{viewFailureContent1}}</span><br>
            <span style="font-size: 12px;font-weight: 500;">{{failureResponse}}</span><br>
            <!-- <span style="font-size: 12px;font-weight: 500;">{{viewFailureContent2}}</span> -->
        </div>
    </div>
</ng-template>