<div class="menbersignupbg">

    <div class="container ">

        <div class="mb-3">
            <h3 class="p-3 text-white">Welcome to SpectroCare</h3>
        </div>

        <div class="row justify-content-center ">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">

                    <h4 class="mt-4 mb-4">Create your account</h4>

                    <div class="container">
                        <div class="row ">
                            <div class="col-md-2">
                            </div>
                            <div class="col-sm-8">

                                <div class="d-inline d-flex justify-content-around">
                                    <button
                                        class="btn btn-primary btn-sm text-white btn-outline-dark shadow text-uppercase"
                                        (click)="callAdministrator()">Administrator</button>
                                    <button class="text-nowrap btn btn-sm btn-outline-dark shadow text-uppercase"
                                        [routerLink]="['/medicalpersonnelsignup']">medical personnel</button>
                                </div>

                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>

                    <div class="container">

                        <!-- </div> -->
                        <div class="row mt-4">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8 ">
                                <form [formGroup]="adminSignUpForm" (ngSubmit)="adminSignUp()">

                                    <div formGroupName="hospitalInformation">
                                            <div class="form-group">
                                                    <label for="exampleInputEmail1"> <b>Hospital Information</b></label>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="mr-2">Enterprise Register
                                                        Number</label>
                                                    <img style="width: 1rem; height: 1rem;" placement="right"
                                                        ngbTooltip="The registration number cannot be changed after the account is registered. Please make sure you provide the correct registration number."
                                                        src="assets/images/info.png">
                                                    <input type="text" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="hospital_reg_num" placeholder="">
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Hospital / Clinic Name</label>
                                                    <input type="text" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="hospitalName" placeholder="">
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">EmailID</label>
                                                    <input type="email" class="form-control bg-light" id="exampleInputEmail1"
                                                        formControlName="emailID" aria-describedby="emailHelp" placeholder="">
                                                </div>
            
                                                <div formGroupName="phoneNumber">
                                                        <div class="form-group">
                                                                <label for="exampleInputEmail1">Phone Number</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <select class="form-control bg-light m-0 "
                                                                            formControlName="countryCode">
                                                                            <option selected>+91</option>
                                                                            <option value="1">+92</option>
                                                                            <option value="1">+886</option>
                        
                                                                        </select>
                                                                    </div>
                                                                    <input type="text" class="form-control" formControlName="phoneNumber"
                                                                        aria-label="Text input with dropdown button">
                                                                </div>
                        
                                                            </div>
                                                </div>
                                                
            
                                                <div class="form-group">
            
                                                    <label for="exampleInputPassword1">Address</label>
                                                    <textarea type="text" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="address" placeholder="">
                                                                            </textarea>
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">City</label>
                                                    <input type="text" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="city" placeholder="">
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">State</label>
                                                    <input type="text" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="state" placeholder="">
                                                </div>
            
                                                <div class="form-group">
            
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <label for="exampleInputPassword1">Country</label>
                                                            <input type="text" class="form-control bg-light"
                                                                id="exampleInputPassword1" formControlName="country" placeholder="">
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="exampleInputPassword1">Postcode</label>
                                                            <input type="number" class="form-control bg-light"
                                                                id="exampleInputPassword1" formControlName="postCode"
                                                                placeholder="">
                                                        </div>
                                                    </div>
            
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Lattitude</label>
                                                    <input type="number" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="latitude" placeholder="">
                                                </div>
            
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Longitude</label>
                                                    <input type="number" class="form-control bg-light" id="exampleInputPassword1"
                                                        formControlName="longitude" placeholder="">
                                                </div>
                                    </div>

                                    
                                    <div formGroupName="hospitalAdmin">
                                            <div class="form-group">
                                                    <label for="exampleInputEmail1"> <b>Hospital Admin</b></label>                                            
                                            </div>
        
                                            <div class="form-group">
                                                <label for="InputUserId" placement="right" ngbTooltip="Tooltip on left">User
                                                    ID</label>
                                                <input type="userId" class="form-control bg-light" id="InputUserId"
                                                    formControlName="userID" aria-describedby="userIdHelp" placeholder="">
                                            </div>
        
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="mr-2">Password</label>
                                                <img style="width: 1rem; height: 1rem;" placement="right"
                                                    ngbTooltip="Must be atleast 8 characters" src="assets/images/info.png">
                                                <input type="password" class="form-control bg-light" id="exampleInputPassword1"
                                                    formControlName="password" placeholder="">
                                            </div>
        
                                            <div class="form-group">
        
                                                <div class="row">
        
                                                    <div class="col-md-6">
                                                        <label for="exampleInputPassword1">First Name</label>
                                                        <input type="text" class="form-control bg-light"
                                                            formControlName="firstName" id="exampleInputPassword1"
                                                            placeholder="">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="exampleInputPassword1">Last Name</label>
                                                        <input type="text" class="form-control bg-light"
                                                            formControlName="lastName" id="exampleInputPassword1"
                                                            placeholder="">
                                                    </div>
                                                </div>
        
                                            </div>
    
                                            <div formGroupName="phoneNumber">
                                                    <div class="form-group">
                                                            <label for="exampleInputEmail1">Phone Number</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <select class="form-control bg-light m-0 " formControlName="countryCode">
                                                                        <option selected>+91</option>
                                                                        <option value="1">+92</option>
                                                                        <option value="1">+886</option>
                    
                                                                    </select>
                                                                </div>
                                                                <input type="text" class="form-control" formControlName="phoneNumber"
                                                                    aria-label="Text input with dropdown button">
                                                            </div>
                    
                                                        </div>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">EmailID</label>
                                                <input type="email" class="form-control bg-light" id="exampleInputEmail1"
                                                    formControlName="emailID" aria-describedby="emailHelp" placeholder="">
                                            </div>
        
        
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="mr-2">PrefereLanguage</label>
                                                <input type="text" class="form-control bg-light" id="exampleInputPassword1"
                                                    formControlName="preferLanguage" placeholder="">
                                            </div>
                                    </div>

                                    

                                    <div class="form-group">
                                        <label class="terms align-self-center ">
                                            <input class="align-self-center mr-1" 
                                                type="checkbox">I accept the
                                            <a class="anchortag" style="color: #00b0ff"
                                                [routerLink]="['/termsandconditions']"> Terms and Conditions </a> &
                                            <a class="anchortag" style="color: #00b0ff"
                                                [routerLink]="['/privacypolicy']"> Privacy Policy</a>
                                        </label>
                                    </div>

                                    <div class="row justify-content-center">
                                        <button type="submit" class="btn btn-info  mt-2 mb-4 text-white "
                                         [disabled]="adminSignUpForm.invalid"   >Create
                                            Account</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</div>