<div class="container-fluid">

    <header class="w-100 p-3 ">
        <nav class="navbar navbar-expand-lg navbar-light d-flex w-100 p-0 ">
          <!-- <h1 class="navbar-brand text-white  ml-5">SpectroCare</h1> -->
          
          <h1 class="logo-text " ><!--style="letter-spacing: 3px;"-->
            Spectro<span class="logo-highlight">Care</span>
          </h1>
          <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNavDropdown">
            <ul class="navbar-nav p-0">
              <li class="nav-item p-0 mx-1">
                <button  class="btn btn-sm text-white text-uppercase active"  [routerLink]="['/adminsignup']" >
                Administrator
                </button>
              </li>
              <li class="nav-item p-0 mx-1">
                <button class="btn btn-sm text-white text-uppercase"  [routerLink]="['/medicalpersonnelsignup']" >Medical Personnel</button>
              </li>
              <li class="nav-item p-0 mx-1">
                <button class="btn btn-sm text-white text-uppercase"  [routerLink]="['/medicalpersonnelsignup']" >Patient</button>
              </li>          
            </ul>
          </div>
        </nav>
      </header>

    <div class="row p-5" >
        <div class="col-md-3"></div>
        <div class="col-md-6 align-self-center text-center">
            <div class="example-container">
                <form [formGroup]="adminSignUpForm" (ngSubmit)="adminSignUp()" autocomplete="off">
                    <div formGroupName="hospitalAdmin">
                        <mat-form-field>
                            <input matInput placeholder="User Name" formControlName="userID">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                        <table align="center">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" formControlName="firstName">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" formControlName="lastName">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <div formGroupName="phoneNumber">
                            <table align="center">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <!-- <input matInput placeholder="Country Code" formControlName="countryCode"> -->
                                            <mat-label>Country Code</mat-label>
                                            <mat-select  name="code"
                                                formControlName="countryCode">
                                                <mat-option *ngFor="let code of countryCodes"
                                                    [value]="code.value">
                                                    {{code.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <mat-form-field>
                            <mat-label>Department</mat-label>
                            <mat-select  name="department" formControlName="department">
                                <mat-option *ngFor="let department of departments" [value]="department.value">
                                    {{department.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email ID" formControlName="emailID">
                        </mat-form-field>
                    </div>
                    <span class="span"></span>
                    <div formGroupName="hospitalInformation">
                        <mat-form-field>
                            <input matInput placeholder="Hospital Registration No " formControlName="hospital_reg_num">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Hospital / Clinic Name" formControlName="hospitalName">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email ID" formControlName="emailID">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Address" formControlName="address">
                        </mat-form-field>
                        <div formGroupName="phoneNumber">
                            <table align="center">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <!-- <input matInput placeholder="Country Code" formControlName="countryCode"> -->
                                            <mat-label>Country Code</mat-label>
                                            <mat-select  name="code"
                                                formControlName="countryCode">
                                                <mat-option *ngFor="let code of countryCodes"
                                                    [value]="code.value">
                                                    {{code.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <mat-form-field>
                            <input matInput placeholder="City" formControlName="city">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="State" formControlName="state">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Country" formControlName="country">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Post Code" formControlName="postCode">
                        </mat-form-field>
                        <mat-checkbox class="text-white">
                            <span style="font-size: 15px;">I accept the terms and conditions & privacy policy</span>
                        </mat-checkbox>
                        <button mat-raised-button class="loginbtn mb-3 mt-3"
                            style="letter-spacing: 1px; outline-style: none;">SIGN UP</button>
                        <div class="row  p-2 justify-content-center">
                            <span (click)="signUp()">
                                <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                                Already have an account?
                                <a> LOGIN</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>