<div class="menbersigninbg">
    <div class="container">
            <div class="mb-3">
                <h3 class="p-3 text-white">Welcome to SpectroCare</h3>
            </div>
            <div class="row justify-content-center ">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card">
                        <h4 class="mt-4 mb-4" style="font-size: 400;">Change Password</h4>
                        <div class="container" >
                            <div class="row ">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8 ">
                                    <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control bg-light" formControlName="userID">
                                                 <p *ngIf="changePasswordForm.controls['userID'].errors?.touched &&
                                                           changePasswordForm.controls['userID'].errors?.required" class="text-danger">Add your email
                                                </p>
                                                 <p *ngIf="changePasswordForm.controls['userID'].errors?.email" class="text-danger">Enter Valid email
                                                 </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" formControlName="oldPassword" class="form-control bg-light">
                                                <p *ngIf="changePasswordForm.controls['oldPassword'].errors?.touched &&
                                                          changePasswordForm.controls['oldPassword'].errors?.required" class="text-danger">Add your Password
                                                </p>
                                                <p *ngIf="changePasswordForm.controls['oldPassword'].errors?.minlength" class="text-danger">Password should be atleast 8 charecters
                                                </p>
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputPassword1">New Password</label>
                                                <input type="password" formControlName="newPassword" class="form-control bg-light">
                                                    <p *ngIf="changePasswordForm.controls['newPassword'].errors?.touched &&
                                                              changePasswordForm.controls['newPassword'].errors?.required" class="text-danger">Add your Password
                                                    </p>
                                                    <p *ngIf="changePasswordForm.controls['newPassword'].errors?.minlength" class="text-danger">Password should be atleast 8 charecters
                                                    </p>
                                        </div>
                                        <div class="form-group d-flex justify-content-between">
                                            <button class="btn btn-sm btn-success px-2 shadow"        
                                                [disabled]="changePasswordForm.invalid"
                                            >Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>