<div class="container-fluid">
    <div class="row h-100" style="padding: 100px;">
        <div class="col-md-4 align-self-center"></div>
        <div class="col-md-4 align-self-center">
            <div class="example-container">
                <form [formGroup]="adminSignINForm" (ngSubmit)="submitForm()" autocomplete="off">
                    <mat-form-field>
                        <!-- <input matInput placeholder="Email / User Name" formControlName="userID"
                            (keyup)="validationForm()">
                        <div class="text-danger" *ngIf="validationErrors.userID" class="text-danger">
                            {{validationErrors.userID}}
                        </div> -->
                        <input matInput placeholder="Email / User Name" formControlName="userID">
                        <mat-error *ngIf="adminSignINForm.get('userID').hasError('required')">
                            Email / UserName is Required!
                          </mat-error>
                          <mat-error *ngIf="adminSignINForm.get('userID').hasError('minlength')">
                            Email / UserName should be atleast 4 characters long!
                          </mat-error>
                      
                          <mat-error *ngIf="adminSignINForm.get('userID').hasError('maxlength')">
                            Email / UserName can be atmax n characters long!
                          </mat-error>
                      
                          <!-- <mat-error *ngIf="adminSignINForm.get('userID').hasError('pattern')">
                            Email / UserName must follow this pattern! (a-z,A-Z)
                          </mat-error> -->
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="{{password}}" formControlName="password">
                        <span *ngIf="isPassword" (click)="showPassword()">
                            <i class="fa fa-fw fa-eye field-icon1"></i>
                        </span>
                        <span *ngIf="!isPassword" (click)="showPassword()">
                            <i class="fa fa-fw fa-eye-slash field-icon1"></i>
                        </span>
                        <!-- <div class="text-danger" *ngIf="validationErrors.password" class="text-danger">
                            {{validationErrors.password}}
                        </div> -->
                        <mat-error *ngIf="adminSignINForm.get('password').hasError('required')">
                            Password is Required!
                          </mat-error>                      
                          <mat-error *ngIf="adminSignINForm.get('password').hasError('minlength')">
                            Password must be atmax 8 characters long!
                          </mat-error>
                    </mat-form-field>
                    <button mat-raised-button class="loginbtn mb-3 mt-3" style="letter-spacing: 1px; outline-style: none;">LOGIN</button>
                    <div class="row p-2 ml-5">
                        <span (click)="forgot()">
                            <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                            Forgot <a> Username / Password ? </a></span>
                    </div>
                    <div class="row  p-2 ml-5">
                        <span (click)="signUp()"> <i class="dot fa fa-circle mr-2" aria-hidden="true"></i>
                            Don't have an account yet? <a> Sign Up</a></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 align-self-center"></div>
    </div>
    <div>
        
    </div>
</div>