li{
  margin-bottom: 2px;
  
  margin: 10px;
}

.active{
  background-color: dodgerblue;
  color: white;
}

/* div{
  height: 100vh;
}

.sidebar{
  height: 100vh;
  align-items: stretch;
} */


  /* Change the link color on hover */
  li a:hover {
    background-color: darkseagreen;
    color: black;
    box-shadow: 0 0 5px brown;
  }  