<div class="container-fluid m-0 p-0 ">
  <div class="row">
    <div class="col-md-2 sidehigh">
      <mat-sidenav #sidenav mode="side" opened (opened)="events.push('open!')" (closed)="events.push('close!')">
        <div class="">
          <div class="name p-4 text-center" style="background-color: rgb(62,69,76);">
            <h5 class="text-white">SpectroCare</h5>
          </div>

          <div class="sidebar" style="width: 100%; height: 100vh; background-color: rgb(44,49,54);">
            <nav class="navbar align-items-center justify-content-center m-0 p-0 " id="sidebar-wrapper">
              <div class="w-100 ml-1">
                <div class="text-center p-2 m-2">
                  <img src="{{pic}}" style="width: 80px; height: 80px;border-radius: 50%; border: 2px solid rgb(150, 211, 235);"
                    class="profile mb-1" [routerLink]="['/admincenter/adminprofile']"> <!--previewImg src="../../../assets/images/ui/Icons/1x/admin image.png" -->
                  <br>
                  <span class="profile text-white mb-1 " style="" [routerLink]="['/admincenter/adminprofile']">{{signObj.hospitalAdmin.firstName}} {{signObj.hospitalAdmin.lastName}}</span> <!--letter-spacing: 1.5px; font-weight: 700;-->
                  <br>

                  <span style="color:  #53b8c5;font-weight: 700;"> <i class="dot fa fa-circle fa-sm mr-1 " aria-hidden="true"></i>
                    Admin</span>
                </div>
                <div class="theListOne"  >
                  <ul class="nav  flex-column ">
                    <li class="nav-item">
                      <a class="nav-link  pl-3 " [routerLink]="['/admincenter/dashboard']" routerLinkActive="active"
                         (click)="closeSubList()">Dashboard</a> <!--routerLinkActive="active"-->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-3" [routerLink]="['/admincenter/home']"  (click)="openSubList()" routerLinkActive="active">Admin
                        Center</a><!--routerLinkActive="active"-->
                      <div *ngIf="listInlist">
                        <ul class="nav  flex-column  " style="background-color:#1C1F22;">
                          <li class="nav-item pl-4">
                            <a class="nav-link  pl-4  " [routerLink]="['/admincenter/home']"
                            routerLinkActive="active">Hospital / Clinic Profile</a>
                          </li>
                          <li class="nav-item pl-4">
                            <a class="nav-link  pl-4  " [routerLink]="['/admincenter/manageuser']"
                            routerLinkActive="active">Manage User</a>
                          </li>
                          <li class="nav-item pl-4">
                            <a class="nav-link  pl-4  " [routerLink]="['/admincenter/invoices']"
                            routerLinkActive="active">Invoices</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-3" [routerLink]="['/admincenter/patient']"  (click)="openPatientList()" routerLinkActive="active">Patient</a><!--routerLinkActive="active"-->
                      <div *ngIf="listInPatient">
                        <ul class="nav  flex-column  " style="background-color:#1C1F22;">
                          <li class="nav-item pl-4">
                            <a class="nav-link  pl-4  " [routerLink]="['/admincenter/patient']"
                            routerLinkActive="active">Search Patient</a>
                          </li>
                          <li class="nav-item pl-4">
                            <a class="nav-link  pl-4  " [routerLink]="['/admincenter/allmedicalrecord']"
                            routerLinkActive="active">All Medical Record</a>
                          </li>
                         
                        </ul>
                      </div>
                    </li>
                  
                    <li class="nav-item">
                      <a class="nav-link  pl-3 " [routerLink]="['/admincenter/upcomingappointment']"  (click)="openAppointmentList()" routerLinkActive="active"
                        >Appointment</a><!--routerLinkActive="active"-->
                        <div *ngIf="listInAppointment">
                          <ul class="nav  flex-column  " style="background-color:#1C1F22;">
                            <li class="nav-item pl-4">
                              <a class="nav-link  pl-4  " [routerLink]="['/admincenter/upcomingappointment']"
                              routerLinkActive="active">Upcoming Appointment</a>
                            </li>
                            <li class="nav-item pl-4">
                              <a class="nav-link  pl-4  " [routerLink]="['/admincenter/pastappointment']"
                              routerLinkActive="active">Past Appointment</a>
                            </li>
                            <li class="nav-item pl-4">
                              <a class="nav-link  pl-4  " [routerLink]="['/admincenter/bookappointment']"
                              routerLinkActive="active">Book Appointment</a>
                            </li>
                            <li class="nav-item pl-4">
                              <a class="nav-link  pl-4  " [routerLink]="['/admincenter/appointmentcalendar']"
                              routerLinkActive="active">Calendar</a>
                            </li>
                           
                          </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-3  " (click)="closeSubList()" [routerLink]="['/admincenter/report']" routerLinkActive="active">Report</a><!--routerLinkActive="active"-->
                    </li>


                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </mat-sidenav>

    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


