<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div class="container-fluid ">
    <div class="row col-md-12">
        <div class="col-md-2 " style=" background-color: #27384a;">
            <div class="text-center">
                <table class="table  table-sm h-100 ">
                    <thead>
                        <tr>
                            <th scope="col" class="text-white">Medical Personnel List
                                <input type="text" list="doctors" (change)="showDctrPatients($event.target.value)"
                                    class="w-75 p-1 text-center"
                                    style="border-radius: 10px;background-color: whitesmoke; outline: none;"
                                    placeholder="Search Medical Personnel"
                                    (keyup)='searchMedical($event.target.value)'
                                    >
                                <!-- <datalist id="doctors">
                                    <option *ngFor="let medicalPersonnels of medicalPersonnels"
                                        [value]="medicalPersonnels.medical_personnel_id">
                                        {{medicalPersonnels.firstName}}
                                    </option>
                                </datalist> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody class=" text-white"  >
                        <!-- <div class="col-md-4"></div>
                        <div class="col-md-4"> -->
                        <tr>
                            <td [ngClass]="{'bg-danger':isAllSelected === true}" (click)="showAllPatients()">All</td>
                        </tr>
                        <tr *ngFor="let medicalPersonnels of filteredMedicalPersonnels">
                            <td [ngClass]="{'bg-danger':medicalPersonnels.isSelected === true}" class="dctrcolom" (click)="showDctrPatients(medicalPersonnels)">
                                {{medicalPersonnels.firstName}}
                            </td>
                        </tr>
                    <!-- </div>
                        <div class="col-md-4"></div> -->

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-10 text-center">
            <div class="my-2">
                <h3 class="text-center shadow p-2">List Of Patients</h3>
                <!-- <h4 class="mb-3">Patients List</h4> -->
                <div class="p-3">
                    <label class="font-weight-bold mx-2">Search Patient By : </label>
                    <input type="text"  class="bg-light w-25 bg-transparent  p-1 text-center "
                        style="border-radius: 10px; outline: none;" (keyup)='search($event.target.value)' placeholder="Patient Name / Patient ID ">
                </div>
            </div>
            <div class="my-2 row">
                <!-- <h6 class="mb-2 font-weight-bold"><u>List Of Patient's Details</u></h6> -->
                
                <div class="col-md-1"></div>
                <div class="col-md-10">

                    <h6 *ngIf="!(filteredPatients && filteredPatients.length)" >No Patients Found For This Doctor</h6>
                
                <table class="table table-sm table-bordered" *ngIf="filteredPatients && filteredPatients.length">
                    <thead>
                        <tr class="table-active ">
                            <th style="text-align: start;">No</th>
                            <th style="text-align: start;">Patient ID</th>
                            <th style="text-align: start;">Patient Name</th>
                            <th style="text-align: start;">Actions</th>
                            <th style="text-align: start;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patients of filteredPatients; let i = index" >
                            <th scope="row" style="text-align: start;">{{i +1}}</th>
                            <td style="text-align: start;">{{patients.patientID}}</td>
                            <td style="text-align: start;">{{patients.firstName}}</td> <!--  style="text-align: start;" -->
                            <td style="text-align: start;"><a [routerLink]="['/patient/patientprofilee',patients.patientID]">
                                    <i class="fas fa-eye"></i></a>
                            </td>
                            <td (click)="openDeleteModal(content1)" style="text-align: start;"><i class="fas fa-trash-alt text-danger"></i></td>
                            <!-- <td><a href="#" class="text-danger"><b>delete</b></a></td> -->
                            <!-- Delete popup -->
                            <ng-template #content1 let-modal>
                                <div class="modal-header bg-primary">
                                  <p class="modal-title text-white p-2 font-weight-bold" id="modal-basic-title">Are you sure</p>
                                </div>
                                <div class="modal-body bg-white p-2">
                                  <p class="text-justify font-weight-lighter text-muted">
                                    Would you like to delete this Patient.
                                  </p>
                                </div>
                                <div class="modal-footer">
                                  <span class="mouse text-info mr-4" (click)="modal.close('Close click')">Cancel</span>
                                  <button type="submit" class=" m-1 btn btn-sm p-0 rounded-pill btn-clr text-white"
                                    (click)="deleteProject(patients)">Delete</button>
                                </div>
                              </ng-template>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-1"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="mb-5"></div>
    </div>
</div>
