*{
    padding: 0;
    margin: 0;
}

*/ Modal Styles */
.modal-content{
    background: transparent !important;
    border: none !important;
    }
.bg-Custom{
background-color:#60348a !important;
padding: 20px;
text-align: center;
}
.btn-clr{
background-color: #f66 !important; 
border: none !important;
outline: none !important;
padding: 8px 25px !important;
}
/* table tbody tr .dctrcolom{
    border: rgba(38, 132, 221, 0.4) !important;
} */

.modal-footer{
background-color: white !important;
}
.modal-header{
background-color: white;
}