<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container-fluid pb-2" style="background-color: #F8FCFD;">
    <div class="row p-1">
        <div class="col-md-9">
            <div cass="row p-2 justify-content-around">
                <div class="card bg-white w-100 p-2">
                    <div class="row border p-1 px-4  justify-content-between" style="margin: inherit;">
                        <span class="profileTitle" style="font-weight: bold">Patient Profile</span>
                        <img src="../../../assets/images/ui/Icons/patient-medical-module/edit_2.png" width="20rem"
                            class="handCursor" (click)="hideBottom()">
                    </div>
                    <div class="row p-1 pt-2">
                        <div class="col-md-10">
                            <form [formGroup]="patientProfileForm">
                                <div class="row pb-0">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Patient ID</label>
                                            <input type="text"
                                                style="font-size: 12px; border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="patientID">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Medical Record Number</label>
                                            <input type="text"
                                                style="font-size: 12px;border-radius: 5px; height: 30px; "
                                                class=" form-control bg-white" formControlName="medical_record_number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">First Name</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Last Name</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Gender</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="gender">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Date of Birth</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="dob">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Phone Number</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="phoneNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Age</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="age">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="label" style="color: #3e454c;">Email</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="emailID">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="label" style="color: #3e454c;">Address</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="address">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">City</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="city">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">State/Province/Region</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="state">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-0">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Country</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="country">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" style="color: #3e454c;">Pincode</label>
                                            <input type="text" style="font-size: 12px;border-radius: 5px; height: 30px;"
                                                class=" form-control bg-white" formControlName="pincode">
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-center p-3">
                                    <div class="col-md-8 text-center" *ngIf="isViewBottom">
                                        <div *ngIf="isLoading"
                                            style="display: flex; justify-content: center;padding-bottom: 7px;">
                                            <mat-progress-spinner class="example-margin" color="primary"
                                                mode="indeterminate" [diameter]="30">
                                            </mat-progress-spinner>
                                        </div>
                                        <div>
                                            <button class="btn btn-sm border  mr-4"
                                                style="width: 30%; margin-left: -10px; font-size: 14px; font-weight: 700;">Cancel</button>
                                            <button class="btn btn-sm bg-info "
                                                style="width:30%;color: white;font-size: 14px; font-weight: 700;"
                                                (click)="updatePatientProfileData()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 updata pl-0">
            <div class="border bg-white pb-2 mb-2">
                <div class="justify-content-between row head-bg p-1 px-3 mx-0">
                    <div>
                        <span class="size12">Family History</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon awesome-eye.png"
                            *ngIf="isViewBottom" width="20rem" class="mr-2 handCursor"
                            (click)="viewFamilyHistory(viewFamilyHistoryContent)">
                        <img src="../../../assets/images/ui/Icons/patient-medical-module/edit_2.png" width="20rem"
                            class="handCursor" (click)="editFamilyHistory(addFamilyHistoryContent)">
                    </div>
                </div>
                <div class="pb-4">

                    <div *ngIf="!(patientFamilyHistory && patientFamilyHistory.length)" style="text-align: center;">
                        <span>Don't have Family History Records
                        </span>
                    </div>
                    <div class="row p-1 pl-3" *ngFor="let patientFamilyData of patientFamilyHistory; let i = index">

                        <div class="col-md-2 p-0">
                            <div class="text-center">
                                <img src="../../../assets/images/ui/Icons/patient-medical-module/Ellipse.png">
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="">
                                <span
                                    class="size11">{{patientFamilyData.dieseaseName || patientFamilyData.healthCondition}}</span>
                            </div>
                        </div>
                        <div class="col-md-5 p-0">
                            <div class="">
                                <span class="size11">{{patientFamilyData.relationship}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="border bg-white pb-2 mb-2">
                <div class="justify-content-between row head-bg p-1 px-3 mx-0">
                    <div>
                        <span class="size12">Allergies</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon awesome-eye.png"
                            *ngIf="isViewBottom" width="20rem" class="mr-2 handCursor"
                            (click)="viewAllergies(viewAllergiesContent)">
                        <img src="../../../assets/images/ui/Icons/patient-medical-module/edit_2.png" width="20rem"
                            class="handCursor" (click)="addAllergies(addAllergiesContent)">
                    </div>
                </div>
                <div class="pb-4">
                    <div *ngIf="!(patientFamilyAllergies && patientFamilyAllergies.length)" style="text-align: center;">
                        <span>Don't have Allergies Records</span></div>

                    <div class="row p-1 pl-3"
                        *ngFor="let patientFamilyAllergie of patientFamilyAllergies; let i = index">

                        <div class="col-md-2 p-0">
                            <div class="text-center">
                                <img src="../../../assets/images/ui/Icons/patient-medical-module/Ellipse.png">
                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="">
                                <span
                                    class="size11">{{patientFamilyAllergie.allergyInformation || patientFamilyAllergie.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border bg-white pb-2 mb-2">
                <div class="justify-content-between row head-bg p-1 px-3 mx-0">
                    <div>
                        <span class="size12">Files & Documents</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon ionic-ios-add-circle.png"
                            width="20rem" class="handCursor" (click)="addFiles(addFilesContent)">
                    </div>
                </div>
                <div class="pb-4 pt-2">

                    <div *ngIf="!(patientScreeningRecords && patientScreeningRecords.length)"
                        style="text-align: center;">
                        <span>Don't have Files & Documents
                        </span>
                    </div>
                    <div class=" p-1 border mx-1 pt-1 pb-1 d-flex justify-content-around"
                        *ngFor="let patientScreeningRecordsData of patientScreeningRecords; let i = index">
                        <div class="col-md-2 p-0" style="margin-right: -35px;">
                            <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon awesome-file-alt.png">
                        </div>
                        <div class="col-md-7 p-0" style="display: inline-block;">

                            <textarea rows="2" cols="33"
                                style="font-size: 9px;font-weight: 600;border: none; ">{{ patientScreeningRecordsData.recordFilePath.split('/')[3] }}</textarea>

                        </div>
                        <div class="col-md-3 p-0" style="text-align: end;">

                            <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon material-delete.png"
                                class=" handCursor " width="20%" style="margin-right: 3px;">
                            <img class="handCursor" width="13px"
                                src="../../../assets/images/ui/Icons/patient-medical-module/Icon feather-download.png">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewFamilyHistoryContent let-modal>
    <div class="modal-header" style="background-color: #53B9C6;color: white;">
        <h5 class="modal-title justify-content-center" id="modal-basic-title"
            style="font-weight: 500;letter-spacing: 0.3px;">Family History</h5>
        <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel</mat-icon>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center px-5">
            <table class="table text-center " border="0|0">
                <thead class=" " style="border: 1px solid white !important;">
                    <!--thead-dark-->
                    <tr class="small p-0" style="font-weight: normal;">
                        <th scope="col" class="p-0 headText border text-center"
                            style="border: 1px solid white !important;font-size: 14px;font-weight: 400;">No</th>
                        <th scope="col" class="p-0 headText border  text-center"
                            style="border: 1px solid white !important;font-size: 14px;font-weight: 400;">Disease Name
                        </th>
                        <th scope="col" class="p-0 headText border text-center"
                            style="border: 1px solid white !important;font-size: 14px;font-weight: 400;">Relationship
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr class=" small " *ngFor="let patient of patientFamilyHistory ; let i = index">
                        <td scope="row" class="text-center" style="border: 1px solid white !important;font-size: 12px;">
                            {{i+1}}</td>
                        <td class="" style="padding-left: 28px; border: 1px solid white !important;font-size: 12px;">
                            {{patient.dieseaseName || patient.healthCondition}} </td>
                        <td class="" style="padding-left: 69px;border: 1px solid white !important;font-size: 12px;">
                            {{patient.relationship}}</td>

                    </tr>
                </tbody>
            </table>

            <div *ngIf="!(patientFamilyHistory && patientFamilyHistory.length)" style="text-align: center;">
                <span>Don't have Family History Records
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button class="btn btn-sm"
            style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;"
            (click)="modal.close('Close click')">Close
        </button>
    </div>
</ng-template>

<ng-template #addFamilyHistoryContent let-modal>
    <div class="modal-header" style="background-color: #53B9C6;color: white;">
        <h5 class="modal-title justify-content-center" id="modal-basic-title"
            style="font-weight: 500;letter-spacing: 0.3px;">Edit Family History</h5>
        <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel</mat-icon>
    </div>
    <div class="modal-body">

        <form [formGroup]="editFamilyHistoryForm" (ngSubmit)="addFamilyHistorySubmit()">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5 modelBodyHead">
                    <span class="pl-5 headText" style="font-size: 14px;font-weight: 400;">Disease Name</span>
                </div>
                <div class="col-6 modelBodyHead " style="padding-left: inherit;">
                    <span class=" pl-5 headText"
                        style="font-size: 14px;margin-left: -10px;font-weight: 400;">Relationship</span>
                </div>
            </div>
            <div formArrayName="familyHistory" class="pt-2">
                <ng-container *ngFor="let desease of familyDeseases.controls; let i =index">

                    <div class="form-group row pl-5" [formGroupName]="i">
                        <div class="col-md-1" style="line-height: 2;font-size: 12px;">
                            {{i+1}}
                        </div>
                        <div class="col-md-5">
                            <input type="text" formControlName="dieseaseName"
                                style="border-radius: 5px; margin-right: -40px; height: 30px;font-size: 12px;"
                                class=" form-control  ">
                        </div>
                        <div class="col-md-4">
                            <select formControlName="relationship"
                                style="border-radius: 5px; margin-right: -40px; height: 30px;font-size: 12px;"
                                class=" form-control  ">
                                <option value="parent">Parent</option>
                                <option value="grandparent">Grand parent</option>
                                <option value="brother">Brother</option>
                                <option value="sister">Sister</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="margin-top: 8px;" (click)="removeDesease(i)">
                            <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel.png"
                                style="margin-top: -9px;" width="20rem" class="handCursor">
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row py-2 pl-5 ">
                <div style="padding-left: 54px;" (click)="addMember()">
                    <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon ionic-ios-add-circle.png"
                        width="20rem" class="handCursor">
                    <span class="px-3 handCursor">Add New List</span>
                </div>
            </div>
            <div style="text-align: center;" class="py-3">
                <div *ngIf="isLoading" style="display: flex; justify-content: center;padding-bottom: 7px;">
                    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="30">
                    </mat-progress-spinner>
                </div>
                <button class="save-btn btn btn-sm mr-5" style="outline-style: none; font-weight: 500;
                font-size: medium; background-color: #53B9C6; 
                    color: white; height: 30px;">Save
                </button>

            </div>
        </form>
        <button class="delete-btn btn btn-sm" (click)="deletePatientFamilyHistory()"
            style="outline-style: none; font-weight: 500;font-size: medium; background-color: rgb(212, 218, 219); color: rgb(41, 41, 41); height: 30px;">Delete
        </button>
    </div>
</ng-template>

<ng-template #viewAllergiesContent let-modal>
    <div class="modal-header" style="background-color: #53B9C6;color: white;">
        <h5 class="modal-title justify-content-center" id="modal-basic-title"
            style="font-weight: 500;letter-spacing: 0.3px;">Allergies</h5>
        <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel</mat-icon>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center px-5">
            <table class="table text-center " border="0|0" style="border-collapse: collapse;">
                <thead class=" " style="border: 1px solid white !important;">

                    <tr class="small p-0" style="font-weight: normal;">
                        <th class="p-0" scope="col" class="border text-center"
                            style="border: 1px solid white !important;font-size: 14px;font-weight: 400;">No</th>
                        <th class="p-0" scope="col" class="border  text-center"
                            style="border: 1px solid white !important;font-size: 14px;font-weight: 400;">Name</th>
                        <th class="p-0" scope="col" class="border text-center"
                            style="border: 1px solid white !important;font-size: 14px;font-weight: 400;">Notes</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid white !important;">
                    <tr class="  small " *ngFor="let patient of patientFamilyAllergies ; let i = index">
                        <td scope="row" class="text-center" style="border: 1px solid white !important;font-size: 12px;">
                            {{i+1}}</td>
                        <td class=""
                            style="border: 1px solid white !important; padding-left: 20px !important;font-size: 12px;">
                            {{patient.allergyInformation || patient.name}} </td>
                        <td class=""
                            style="border: 1px solid white !important; padding-left: 115px !important;font-size: 12px;">
                            {{patient.note || patient.allergy_record_id}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!(patientFamilyAllergies && patientFamilyAllergies.length)" style="text-align: center;">
                <span>Don't have Family History Records
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button class="btn btn-sm"
            style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;"
            (click)="modal.close('Close click')">Close
        </button>
    </div>
</ng-template>

<ng-template #addAllergiesContent let-modal>
    <div class="modal-header" style="background-color: #53B9C6;color: white;">
        <h5 class="modal-title justify-content-center" id="modal-basic-title"
            style="font-weight: 500;letter-spacing: 0.3px;">Add Allergies</h5>
        <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel</mat-icon>
    </div>
    <div class="modal-body">

        <form [formGroup]="editAllergiesForm" (ngSubmit)="addPatientAllergiesSubmit()">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5 modelBodyHead">
                    <span class="pl-5 " style="font-size: 14px;font-weight: 400;">Name</span>
                </div>
                <div class="col-6 modelBodyHead " style="padding-left: inherit;">
                    <span class=" " style="font-size: 14px;font-weight: 400;">Notes</span>
                </div>
            </div>
            <div formArrayName="allergiesHistory" class="pt-2">

                <ng-container *ngFor="let desease of allergiesList.controls; let i =index">
                    <div class="form-group row pl-5" [formGroupName]="i">
                        <div class="col-md-1" style="line-height: 2;">
                            {{i+1}}
                        </div>
                        <div class="col-md-4">
                            <input type="text" formControlName="allergieName"
                                style="border-radius: 5px; margin-right: -40px; height: 30px;" class=" form-control ">
                        </div>
                        <div class="col-md-5">
                            <input type="text" formControlName="notes"
                                style="border-radius: 5px;margin-right: -40px; height: 30px;" class=" form-control ">
                        </div>
                        <div class="col-md-2" style="margin-top: 8px;line-height: initial;" (click)="removeAllergie(i)">
                            <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel.png"
                                style="margin-top: -7px;" width="20rem" class="handCursor">
                        </div>
                    </div>
                </ng-container>

            </div>
            <div class="row py-2 pl-5">
                <div style="padding-left: 52px;" (click)="addAllergie()">
                    <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon ionic-ios-add-circle.png"
                        width="20rem" class="handCursor">
                    <span class="px-3 handCursor">Add New List</span>
                </div>
            </div>
            <div style="text-align: center;" class="py-3">
                <div *ngIf="isLoading" style="display: flex; justify-content: center;padding-bottom: 7px;">
                    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="30">
                    </mat-progress-spinner>
                </div>
                <button class="save-btn btn btn-sm mr-1" style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;
                    height: 30px;margin-left: -60px;">Save
                </button>
            </div>
        </form>
        <button class="delete-btn btn btn-sm" (click)="deletePatientAllergies()" style="outline-style: none; font-weight: 500;font-size: medium; background-color: rgb(212, 218, 219);
             color: rgb(41, 41, 41);height: 30px;">Delete
        </button>
    </div>
</ng-template>

<ng-template #addFilesContent let-modal>
    <div class="modal-header" style="background-color: #53B9C6;color: white;">
        <h5 class="modal-title justify-content-center" id="modal-basic-title"
            style="font-weight: 500;letter-spacing: 0.3px;">Add File / Document</h5>
        <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel</mat-icon>
    </div>
    <div class="modal-body">
        <div>
            <span style="margin-left:20px ; font-weight: 500;">Upload File</span>
        </div>
        <form [formGroup]="addPatientScreeningRecordForm" (ngSubmit)="addPatientScreeningRecordSubmit()">
            <div class="text-center py-3"
                style="border: 3px solid rgba(0,0,0,0.3); border-style: dashed;border-radius: 5px; margin-left: 20px;margin-right: 20px;">
                <!--Upload IMg-->
                <div class="justify-content-center" style="text-align: -webkit-center;padding-left: 20px;">
                    <div class="container">
                        <div class="row ">
                            <div class="img-move input-group mb-3 mt-3 handCursor" style="justify-content: center;">
                                <input type="file" class="form-control" name="file" id="inputGroupFile01" #fileInput
                                    aria-describedby="inputGroupFileAddon01" accept=".png, .jpg, .jpeg, .pdf"
                                    (change)="fileProgress($event)" class="d-none">

                                <span (click)="fileInput.click()" style="border-bottom: 0.3px solid #3e454c;">choose a
                                    file</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Upload IMG Ends-->
            </div>
            <div class=" pt-3 row justify-content-between px-4">
                <div class=" pb-3" style="font-weight: 500;padding-left: 20px;">{{fileName}} {{fileSize}} {{fileValue}}
                </div>
                <div>
                </div>
            </div>
            <div style="border: 0.3px solid #3e454c; margin: 20px;"></div>

            <div class="pb-4 pt-2">

                <div *ngIf="!(patientPhysicalExamRecords && patientPhysicalExamRecords.length)"
                    style="text-align: center;" class="pb-4">
                    <span>Don't have Files & Documents
                    </span>
                </div>
                <div class=" p-1 border mx-4 pl-2 pt-1 pb-2 mb-2 d-flex justify-content-around"
                    *ngFor="let patientScreeningRecordsData of patientScreeningRecords; let i = index">
                    <div class="col-md-10">
                        <div class="d-flex row">
                            <div>
                                <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon awesome-file-alt.png"
                                    class="mr-1">
                            </div>
                            <div class="">

                                <span
                                    style="font-size: 9px;font-weight: 600; ">{{ patientScreeningRecordsData.recordFilePath.split('/')[3] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align: end;">
                        <div class=" ">
                            <img src="../../../assets/images/ui/Icons/patient-medical-module/Icon material-delete.png"
                                class=" handCursor " width="30%" style="margin-right: 3px;"
                                (click)="deleteFile(deleteFileContent)">
                        </div>
                    </div>

                    <ng-template #deleteFileContent let-modal>
                        <div class="modal-body bg-white p-2 ">
                            <div class="d-flex p-1">
                                <div class="col-md-4 text-center p-3 m-0">
                                    <img src="../../../assets/images/ui/Icons/1x/delete_1.png"
                                        style="width: 80%; margin-top: 10px;">
                                </div>
                                <div class="col-md-8 p-2">
                                    <h5 class=" font-weight-small" style="font-size: 100 !important;">
                                        Delete Patient Physical Exam Record
                                    </h5><br>
                                    <span class="text-muted">Do you want to delete this File?
                                        (<b class="mr-1">{{patientScreeningRecordsData.physical_exam_id}}</b>
                                        <b>{{patientScreeningRecordsData.medical_record_id}}</b>) </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: block;">
                            <div class="row" *ngIf="isLoading" style="display: flex; justify-content: center;">
                                <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                    [diameter]="30">
                                </mat-progress-spinner>
                            </div>
                            <div class="row" style="justify-content: center;">
                                <button class="btn btn-sm btn-info mouse  mr-4" style="height: 30px;"
                                    (click)="modal.close('Close click')">Cancel</button>
                                <button type="submit" class=" btn btn-sm   btn-clr text-white" style="height: 30px;"
                                    (click)="deletePatientPhysicalExamFile(patientScreeningRecordsData)">Delete</button>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <div class="" style="text-align: center;">

                    <div *ngIf="isLoading" style="display: flex; justify-content: center; padding-bottom: 5px;">
                        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                            [diameter]="30">
                        </mat-progress-spinner>
                    </div>

                    <!-- <button class="btn btn-sm mr-3"
                        style="outline-style: none; font-weight: 500;font-size: medium; background-color: rgb(212, 44, 44); color: white; height: 30px;"
                        (click)="deletePatientAllPhysicalExamFile()">Delete All
                    </button> -->

                    <button class="btn border btn-sm mr-3" style="outline-style: none; font-weight: 500;font-size: medium; background-color: transparent;
                         color: black;height: 30px;" (click)="modal.close('Close click')">Cancel
                    </button>

                    <button class="btn btn-sm" style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6;
                         color: white;height: 30px;">Attach
                        Files
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>