<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container-fluid pb-5" style="background-color: #F8FCFD;">
    <div class="row calender-show pl-3 " style="background-color: #F8FCFD; justify-content: flex-end; ">
        <input placeholder="2020-03-13" class=" pl-3" style="width: 40vh;" ngbDatepicker #d="ngbDatepicker" readonly>
        <div class="calenderLogo">
            <button style="outline-style: none;" class="p-0 btn  calendar" (click)="d.toggle()" type="button">
                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="row p-4 w-25" style="background-color: #F8FCFD;">
        <div class="form-control" style="background-color: #53b8c5; color: white !important;">
            <mat-select (selectionChange)="showData($event.value)" [value]="selected" style="color: white;">
                <mat-option *ngFor="let letSearch of searchByValue" [value]="letSearch.viewValue">
                    {{letSearch.viewValue}}
                </mat-option>
            </mat-select>
        </div>
    </div>

    <div class="row" style="padding-left: 35px;">
        <div class="row bg-white px-2 py-2 pr-4 w-100 justify-content-between">
            <span class="tableHead justify-content-center" id="modal-basic-title" style="font-weight: 600;">Screening
                Record</span>
            <mat-icon class="handCursor">add_circle</mat-icon>
        </div>
        <div class="row scroll w-100">
            <table class="table text-center table-sm">
                <thead class="thead-dark ">
                    <tr class="medium" style="font-weight: normal;">
                        <th scope="col" class="border text-center" style="font-size: 14px;">No</th>
                        <th scope="col" class="border  text-center" style="font-size: 14px;">Date/Time</th>
                        <th scope="col" class="border text-center" style="font-size: 14px;">IllnessScreeningID</th>
                        <th scope="col" class="border text-center" style="font-size: 14px;">Details</th>
                        <th scope="col" class="border  text-center" style="font-size: 14px;">Record Name</th>
                        <th scope="col" class="border  text-center" style="font-size: 14px;">Action</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class=" shadow small  "
                        *ngFor="let selectedScreeningData of patientScreeningRecordsData ; let i = index">
                        <td scope="row" class="text-center" style="padding: 10px;">{{i+1}}</td>
                        <td class="tdData" style="padding-left: 90px !important;padding: 10px;">{{selectedScreeningData.addedDate}}</td>
                        <td class="tdData" style="padding-left: 60px !important;padding: 10px;">{{selectedScreeningData.illnessScreeningID}}</td>
                        <td class="tdData" style="padding-left: 90px !important;padding: 10px;">{{selectedScreeningData.recordMoreDetails}}</td>
                        <td class="tdData" style="padding-left: 55px !important;padding: 10px;">{{selectedScreeningData.recordName}}</td>
                        <td class="menu text-center text-info"
                            style="padding: 10px; overflow: hidden; padding-top: 5px;">
                            <button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu" style="color: #53b8c5;background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <mat-menu #menu="matMenu" class="menudata" #beforeMenu="matMenu" xPosition="before">
                                <button mat-menu-item class="menuItembtn" style="outline: none !important;"
                                    (click)="openViewMethod(viewModel,selectedScreeningData,selectedPatient)">
                                    <span>View Report</span>
                                </button>

                                <ng-template #viewModel let-modal>
                                    <div class="modal-header" style="background-color: #53B9C6;color: white;">
                                        <h5 class="modal-title justify-content-center" id="modal-basic-title">Test
                                            Report</h5>
                                        <mat-icon (click)="modal.close('Close click')" class="handCursor">cancel
                                        </mat-icon>
                                    </div>
                                    <div class="modal-body scroll1">
                                        <div class="row "
                                            style="justify-content: space-between;padding-left: inherit;padding-right: inherit;">
                                            <div>
                                                <label style="font-size: 12px; font-weight: 600;">Issue Date : &nbsp;</label>
                                                <span style="font-size: 12px; font-weight: 600;">{{selectedScreeningData.addedDate}}</span>
                                            </div>
                                            <div>
                                                <label style="font-size: 12px; font-weight: 600;">Report ID # : &nbsp;</label>
                                                <span style="font-size: 12px; font-weight: 600;">{{selectedScreeningData.illnessScreeningID}}</span>
                                            </div>
                                        </div>
                                        <div class="" style="border: 0.3px solid #818383;"></div>
                                        <div class="row px-3">
                                            <div class="col-4">
                                                <div>
                                                    <span style="font-size: 13px;font-weight: 600;">Patient
                                                        Information</span>
                                                </div>
                                                <div style="padding-top: 5px;padding-bottom: 5px;text-align: center;">
                                                    <img class=""
                                                    style=" border: 2px solid rgb(150, 211, 235);border-radius: 50%;width: 100px;height: 100px;min-width: 100px;min-height: 100px;"
                                                    src="{{'http://3.92.226.247:3000'+selectedPatient.profilePic}}"
                                                    onerror="this.src='../../../assets/images/ui/Icons/1x/profile-1.png';">

                                                </div>
                                                <div>
                                                    <div class="row text-center" style="justify-content: center;">
                                                        <span style="font-size: 12px;font-weight: 600;">{{selectedPatient.firstName}}
                                                            {{selectedPatient.lastName}}</span>
                                                    </div>
                                                    <div class="row text-center" style="justify-content: center;">
                                                        <span style="font-size: 12px;font-weight: 580;">Patient ID :
                                                            {{selectedPatient.patientID}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">First
                                                            Name</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span style="font-size: 12px; font-weight: 500;">{{selectedPatient.firstName}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Last
                                                            Name</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span style="font-size: 12px; font-weight: 500;">{{selectedPatient.lastName}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Gender</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span style="font-size: 12px; font-weight: 500;">{{selectedPatient.gender}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Date of
                                                            Birth</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span
                                                            style="font-size: 12px; font-weight: 500;">{{selectedPatient.dob}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Age</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span style="font-size: 12px; font-weight: 500;">{{selectedPatient.age}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Email</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span
                                                            style="font-size: 12px; font-weight: 500;">{{selectedPatient.emailID}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Phone
                                                            Number</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span style="font-size: 12px; font-weight: 500;">{{selectedPatient.phoneNumber.phoneNumber}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span style="font-size: 12px; font-weight: 600;">Address</span>
                                                    </div>
                                                    <div class="col-7" style="padding-left: inherit;">
                                                        <span style="font-size: 12px; font-weight: 500;">{{selectedPatient.address}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="" style="border: 0.3px solid #818383;"></div>
                                        <div class="" style="border: 0.3px solid #818383;"></div>
                                        <div class="row px-3" style="padding-top: 5px; padding-bottom: 5px;">
                                            <div class="row pl-3">
                                                <span style="font-size: 14px;font-weight: 600;;">Specimen
                                                    Information</span>
                                            </div>
                                            <div class="col-12">
                                                <div class="row w-auto">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span style="font-size: 12px; font-weight: 600;">Sample Type</span>
                                                            </div>
                                                            <div class="col-6" style="margin-left: inherit;">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 500;">{{selectedScreeningData.recordName}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span style="font-size: 12px; font-weight: 600;">Collected on</span>
                                                            </div>
                                                            <div class="col-6" style="margin-left: inherit;">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 500;">{{selectedScreeningData.addedDate}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 600;">Received on</span>
                                                            </div>
                                                            <div class="col-6" style="margin-left: inherit;">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 500;">{{selectedScreeningData.addedDate}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span style="font-size: 12px; font-weight: 600;">Fasting</span>
                                                            </div>
                                                            <div class="col-6" style="margin-left: inherit;">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 500;">Yes</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <span style="font-size: 12px; font-weight: 600;">Tested by</span>
                                                            </div>
                                                            <div class="col-7" style="padding-left: inherit;">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 500;">Dr.{{selectedScreeningData.tracking[0].byWhomName}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <span style="font-size: 12px; font-weight: 600;">Tested ID</span>
                                                            </div>
                                                            <div class="col-7" style="padding-left: inherit;">
                                                                <span
                                                                    style="font-size: 12px; font-weight: 500;">{{selectedScreeningData.tracking[0].byWhomID}}</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="" style="border: 0.3px solid #818383;"></div>
                                        <div class="" style="border: 0.3px solid #818383;"></div>
                                        <div class="row px-3" style="padding-bottom: 5px;padding-top: 5px;">
                                            <span style="font-size: 14px;font-weight: 600;;">Urinalysis Report</span>
                                        </div>
                                        <!-- <div class="" style="border: 0.3px solid #818383;"></div> -->
                                        <div>
                                            <table class="table text-center table-sm">
                                                <thead class="thead-light ">
                                                    <tr class="medium" style="font-weight: normal;">
                                                        <th scope="col" class="border  text-center" style="font-size: 12px;">Test Name</th>
                                                        <th scope="col" class="border text-center" style="font-size: 12px;">Results</th>
                                                        <th scope="col" class="border text-center" style="font-size: 12px;">Flag</th>
                                                        <th scope="col" class="border  text-center" style="font-size: 12px;">Units</th>
                                                        <th scope="col" class="border text-center" style="font-size: 12px;">Reference</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="">
                                                    <tr class=" shadow small  "
                                                        *ngFor="let selectedInvoicesData of testResults ; let i = index">
                                                        <td class="tdData text-center" style="padding: 10px;font-size: 12px;">{{selectedInvoicesData.testname}}</td>
                                                        <td class="tdData text-center" style="padding: 10px;font-size: 12px;">{{selectedInvoicesData.results}}</td>
                                                        <td class="tdData text-center" style="padding: 10px;font-size: 12px;">{{selectedInvoicesData.flag}}</td>
                                                        <td class="tdData text-center" style="padding: 10px;font-size: 12px;">{{selectedInvoicesData.units}}</td>
                                                        <td class="tdData text-center" style="padding: 10px;font-size: 12px;">{{selectedInvoicesData.reference}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>                                    
                                        </div>
                                        <div class="row px-3" style="padding-bottom: 5px;padding-top: 5px;">
                                            <span style="font-size: 14px;font-weight: 600;">Openions / Interpretations</span>
                                        </div>
                                        <textarea class="border-1" style="font-size: 12px; padding: 5px; width: -webkit-fill-available;"></textarea>
                                        <div class="row px-3" style="padding-top: 5px;">
                                            <span style="margin-right: 10px; font-size: 12px;font-weight: 600;">Checked by</span>
                                            <span style="font-size: 12px;">Dr.{{selectedScreeningData.tracking[0].byWhomName}}</span>
                                        </div>
                                        <div class="row px-3" style="padding-bottom: 5px;padding-top: 5px;">
                                            <span style="margin-right: 10px;font-size: 12px;font-weight: 600;">Date / Time</span>
                                            <span style="font-size: 12px;">{{selectedScreeningData.tracking[0].date}}</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button class="btn btn-sm"
                                            style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;height: 30px;"
                                            (click)="modal.close('Close click')">Close
                                        </button>
                                    </div>
                                </ng-template>

                                <button mat-menu-item class="menuItembtn" style="outline: none !important;"
                                    (click)="openShareReportMethod(viewShareReportModel,selectedPatient)">
                                    <span>Share Report</span>
                                </button>

                                <ng-template #viewShareReportModel let-modal>
                                    <div class="modal-body">
                                        <div class="d-flex p-1">
                                            <div class="col-md-4 text-center p-3 m-0">
                                                <img src="../../../assets/images/ui/Icons/1x/share.png"
                                                    style="width: 80%; margin-top: 10px;">
                                            </div>
                                            <div class="col-md-8 p-2">
                                                <h5 class=" font-weight-small text-center"
                                                    style="font-size: 14px;font-weight: 600;">
                                                    Share Test Record
                                                </h5><br>
                                                <span class="" style="font-size: 12px;">Want to share the test report to
                                                    {{selectedPatient.firstName}}-{{selectedPatient.lastName}} via {{selectedPatient.emailID}} ? </span>
                                            </div>
                                        </div>
                                        <div style="text-align: center;" class="py-2">
                                            <div *ngIf="isLoading"
                                                style="display: flex; justify-content: center; padding-bottom: 5px;">
                                                <mat-progress-spinner class="example-margin" color="primary"
                                                    mode="indeterminate" [diameter]="30">
                                                </mat-progress-spinner>
                                            </div>
                                            <div>
                                                <button class="btn btn-sm mr-3"
                                                    style="outline-style: none; font-weight: 500;font-size: medium;height: 30px; background-color:transparent; color: black;border: 1px solid black;"
                                                    (click)="modal.close('Close click')">Cancel
                                                </button>
                                                <button class="btn btn-sm"
                                                    style="outline-style: none; font-weight: 500;font-size: medium; background-color: #53B9C6; color: white;height: 30px;"
                                                    (click)="modal.close('Close click')">Share
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>